[2021-01-07 17:09] iElsha opened #1 "History for submitted raids #68"
![image](https://user-images.githubusercontent.com/38140638/103921867-4a6fc700-5113-11eb-97d5-a0b83b4ad878.png)

[2021-01-07 17:11] iElsha opened #2 "Backend and bot code refactor #53"
![image](https://user-images.githubusercontent.com/38140638/103922176-b05c4e80-5113-11eb-89e3-d86843a07166.png)

[2021-01-07 17:12] iElsha opened #3 "Header not being sync correctly #50"
![image](https://user-images.githubusercontent.com/38140638/103922294-d4b82b00-5113-11eb-987c-8d0b0ebdb289.png)

[2021-01-07 17:19] iElsha opened #4 "Weekly schedule message"

[2021-01-07 17:22] iElsha opened #5 "Raid leader note for Raid manager"
![image](https://user-images.githubusercontent.com/38140638/103923368-4d6bb700-5115-11eb-884b-2b674926392e.png)

[2021-01-07 17:23] iElsha opened #6 "Booking payment on multiple realm & factions"

[2021-01-07 17:23] iElsha opened #7 "Hide unwanted characters"

[2021-01-07 17:24] iElsha opened #8 "Add raider.io support"
Add raid.io support on Character class and use it to filter characters

[2021-01-07 17:25] iElsha opened #9 "Roster selection automatic"
Make a matching algorithm to select the best roster based on Vip Needs

[2021-01-07 17:25] iElsha opened #10 "Character handled via WoW cycle reset"
If a booster B sign up his character C on 2 raids R1 & R2.

The character C is selected on R1, he must be marked as unavailable on R2.

[2021-01-07 17:25] iElsha opened #11 "Raid display filter"
Possibility to filter raid by difficulty in display screens

[2021-01-07 17:26] iElsha commented on #11
Also filter by date? Room left as DPS? Healer? Tank? Pot?...

Which are the important parameters?

[2021-01-08 08:26] iElsha opened #12 "Remove spaces in realms"
![image](https://user-images.githubusercontent.com/38140638/103991861-97937d80-5193-11eb-960d-1b02d9cb8e77.png)
Easier to invite for the raidleader

[2021-01-08 10:09] ICCDesi commented on #12
This has been done by Gabor yesterday and it should probably be ready for deploy

[2021-01-08 18:27] ICCDesi opened #13 "Raids being submitted."
We have issues with raids when we submit them. It's the second time that this have happened. It looks like it happens with Curve runs.

**Raid ID**: 796092449394131091
**Raid ID**: 795658592849100804

Side note: The raid with the ID 795658592849100804 got bugged as we clicked ''submit'' . Unknown information for 796092449394131091.

[2021-01-09 10:12] iElsha opened #14 "Change domain URL"
Moove the website to member.wowicecrown.com to prepare for the future

[2021-01-10 21:49] githubtest1234567 commented on #6
maybe we should add the option for balance payment too

[2021-01-11 12:17] ICCDesi commented on #13
Another one. Can we please prioritise this?

**Raid ID:** 797211158498115584

[2021-01-11 13:25] Papa2324 commented on #13
![image](https://user-images.githubusercontent.com/77280335/104187918-c53d2880-5418-11eb-90d5-1d3a94b55ad3.png)

Certain pots/customers get submitted multiple times (as noted) and some arent even getting submitted. The raid takes multiple minutes to get submitted (unsure if normal, waited like 5-7 minutes for the submit to be done even on pots with just 2 customers)

[2021-01-11 13:26] Papa2324 opened #15 "Misc stuff"
- M+ bot can't replace people. Confirmation message sent, nothing happens when attempted.

- M+ bot doesn't accept tanks to Mail/Cloth stacks unless they have Mail/Cloth roles.

- If adv submits a run in submit channel that they were also a booster in, they get added as the adv and booster, and additionally booster 5 (while there should only be 4).

- Alliance players adding as Horde to global mem

[2021-01-11 13:53] Bgabor997 opened #16 "Discord auth token expire"
"we just need to increase the expiration token time. It's set to 24 hours atm, we can increase it to one week that will be fine.
Plus add a redirect from the /auth to / if he's authentificated"

[2021-01-11 14:03] #15 closed

[2021-01-11 14:04] iElsha opened #17 "Duplicate, or absent submit"
Submitting curves encounter issues

:check: = submitted runs, some multiple times as noted
:no_entry_sign: = didnt get submitted

![image](https://user-images.githubusercontent.com/38140638/104191796-43e89480-541e-11eb-9867-2d5455ea8fcd.png)

[2021-01-11 14:35] iElsha commented on #17
It seems that it only affects curves runs for now @Bgabor997 this is a high priority

[2021-01-11 14:53] Bgabor997 commented on #17
i think, there is no difference in submit for curve and full runs, i try to check something

[2021-01-11 16:53] Tueri opened #18 "Remove Christmas hats from bots."
It's nearly Spring, many moons have passed since Christmas was here,

[2021-01-12 18:02] iElsha commented on #17
This should be fixed in PR https://github.com/Icecrown-Community/ICC-member-website/pull/70 and added more logs to identify the error faster

[2021-01-12 18:02] #17 closed

[2021-01-12 18:05] #12 closed

[2021-01-12 18:07] Bgabor997 commented on #6
maybe we should add an option for balance payment too

[2021-01-13 18:31] iElsha commented on #13
@ICCDesi @Papa2324 this is fixed thanks to https://github.com/Icecrown-Community/ICC-member-website/pull/71 and https://github.com/Icecrown-Community/ICC-member-website/pull/70

[2021-01-13 18:31] #13 closed

[2021-01-13 18:36] iElsha opened #19 "Date Server Time & Local time"
Give the possibility to the user to select if he wants dates displayed in Local Time or Server Time thanks to an on/off button.

Changes needs to be made with a context hosting userPreferences and based on the boolean inside (IE: localTIme: true, serverTime: false) the string.js returns dates formated in the correct timezone.

More information regarding time zone on https://momentjs.com/timezone/

[2021-01-13 18:38] iElsha commented on #18
This is done @Tueri

[2021-01-13 18:38] #18 closed

[2021-01-13 18:41] iElsha commented on #3
@Bgabor997 did we fix this one?

[2021-01-14 12:39] iElsha opened #20 "Open Gold collector access to open state to raids"
Allow gold collector to edit bookings in the open state like in the running

What I want:
![image](https://user-images.githubusercontent.com/38140638/104592055-ea76a480-566d-11eb-8b5d-f426358c9a56.png)

What I have:
![image](https://user-images.githubusercontent.com/38140638/104592090-f5313980-566d-11eb-9cd6-4fd6afc7e192.png)

[2021-01-17 15:42] iElsha opened #21 "Curves timeshift"
Add time shift support for curves like runs

[2021-01-17 15:42] iElsha commented on #21
Done in PR https://github.com/Icecrown-Community/ICC-member-website/pull/81
![image](https://user-images.githubusercontent.com/38140638/104847940-fe770c00-58e2-11eb-93ce-2e57b66a029a.png)
![image](https://user-images.githubusercontent.com/38140638/104847947-046ced00-58e3-11eb-8f3a-3a2d8469e0d0.png)

[2021-01-17 15:42] #21 closed

[2021-01-17 15:56] iElsha opened #22 "Improve gold collector system for raids"
- Add a gold collector note on each booking
- Add a gold collector button mooving from these states
          - Before GC step: "not collected" (default) to "collected" (back to "not collected)
          - During: "not collected" to "collected" to "submitted" (back to "not collected)
- Make the appropriate changes on the backend

**Buttons cycle**
![image](https://user-images.githubusercontent.com

[2021-01-17 16:12] Choppaaz commented on #22
- Add an extra button to mark the booster as took the boost or not and it should be as following:

![image](https://user-images.githubusercontent.com/77581204/104848791-70595080-58f7-11eb-8ca0-7959497a77d8.png)

And the background of the booking to be colored as light green when marked as Boost done.

Icons as a suggestion:
Ready for boost: https://material.io/resources/icons/?search=check&icon=un

[2021-01-17 18:48] Tueri opened #23 "Gluth to include GC pseudo when sending DM to customer"
When Gluth sends a DM to the customer about who will collect their gold, the name appears as <@!240899740877848597>, because they have had no interaction with them other than seeing them in the sidebar. They would have to be able to see a channel that the GC typed in recently for this not to occur, so the DM should also include the pseudo of the person collecting.

[2021-01-18 08:55] iElsha commented on #23
Alright, we'll add a name-realm just after

[2021-01-18 09:13] iElsha opened #24 "Improve VIP limit system"
Instead of having one field limiting the number of vips, we should have 4 for each armor stack

[2021-01-18 15:55] iElsha opened #25 "Add advertiser note to database"
The adv note is ignored when the boost is submitted to DB

[2021-01-18 15:56] iElsha commented on #6
Yes, that would improve https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/25

[2021-01-18 17:25] iElsha commented on #22
He has been boosted or not

[2021-01-18 18:03] iElsha opened #26 "Invite button"
Add an invite button for raid leaders to invite boosters
Add an invite button for GC to invite customers (make run shift selection for curves like raids)

[2021-01-18 18:11] iElsha opened #27 "Booster statistics on participation"
Add a way for raid leaders and other managers to know if the booster
- Participated in a raid this cycle
- Participated in a raid for the past cycle
- Participated in overall

The objective is to diversify the picks but a sheet will mark the team affinity in order to still "prioritize" our regular boosters.

[2021-01-18 23:01] Choppaaz opened #28 "Customer booking order bug"
We got a bug that show some customers who were booked late at the start of the customer list, this caused me to pass some as I couldn't notice them up...

Issue here:
![image](https://user-images.githubusercontent.com/77581204/104969616-0bd2ea00-59fa-11eb-8061-5d6424f2be02.png)

while some going down in the right place:
![image](https://user-images.githubusercontent.com/77581204/104969656-273df500

[2021-01-19 05:50] Choppaaz opened #29 "Show amount of gold needed to collect"
So once a customer is booked and the advertiser collects an amount (from 10% up to 100%), we want a field defining how much left to collect to avoid any miss calculation and to make it easier to track.

Its preferred to be like this inside the booking:
![image](https://user-images.githubusercontent.com/77581204/104992372-f7aadf00-5a31-11eb-8859-574e8162a647.png)

Then from outside we want it to lo

[2021-01-19 07:14] iElsha commented on #9
![image](https://user-images.githubusercontent.com/38140638/105000221-5a9a7700-5a2e-11eb-9069-c9eb49b41bf7.png)

[2021-01-19 10:10] Dejnaa commented on #11
Alliance / Horde
Full / Non-Full run (All bosses or Curve/2 last bosses)
Free customer spots (To fast see if we have any raid coming days that has room)
Free Booster spots (To see where we still need boosters) - Could also be per Role

[2021-01-19 11:01] iElsha commented on #28
@Choppaaz this is normal even if it's a bug as we haven't implemented raids over two days but only on one

[2021-01-19 11:06] iElsha commented on #28
This won't be fixed for now except if you feel it needs to be changed if it creates a lot of confusion/errors

[2021-01-19 11:21] Dejnaa opened #30 "Multiple bookings at the same time"
We sometimes have the issue that we have multiple people  filling out their customers to book for a run and suddenly we are overfull. This is especially important during curve runs.

We also have to F5 the website all the time to see if something has been added.

- Could we add a 30-60sec automatic refresh to the site?

For Curve runs:
- Could we add that the Raidleader sets how many customers are

[2021-01-19 11:22] iElsha commented on #11
Only for adv

Only for boosters

I would say the type of run (heroic, mythic, curves, last 2...)

[2021-01-19 11:29] iElsha opened #31 "Update the raid data in nearly real time"
We are not using live data feed but a REST API where sometimes the raid state might be changed, or the number of customers booked might be changed.

This is not possible to have a live website for technical reasons.

This issue splits #30
![image](https://user-images.githubusercontent.com/38140638/105028696-a6124c80-5a51-11eb-861b-82e94f4573b6.png)

We cannot have that kind of timer for cost reaso

[2021-01-19 11:32] iElsha opened #32 "Action to take when overpassing the customer limit"
The aim of this issue is to avoid this case
![image](https://user-images.githubusercontent.com/38140638/105028997-0d300100-5a52-11eb-97fb-88416fe2e549.png)
where we have more customer booked than slot.

If I want to booked the `n+1` customer out of `n` slot, what should I get as feedback?

1. Error, you can't it's full
2. Warning, he's been added but you should reach the RL to be sure if he can ha

[2021-01-19 11:42] Dejnaa opened #33 "Horde/Alliance Banner"
The Icons for Alliance and Horde are very small, and since the background picture is red-ish its easy to confuse the raids for Horde raids. Could we instead of a small Icon make a semi-transparent icon on the left side of the background picture?

Current:
![image](https://user-images.githubusercontent.com/77668716/105030048-7fedac00-5a53-11eb-96da-b1c223be4d12.png)

See example:
![image](https://u

[2021-01-19 11:56] Dejnaa commented on #31
Better with a button to refresh, as a GC I am not gonna put in new customers but I want to see what updates there are

[2021-01-19 11:59] Dejnaa commented on #32
We want to be able to book over, as we sometimes get customers for 1 or 2 bosses in a full run, and the leader still wants to bring them as it makes the pot bigger. If we get 4 customers for 1 boss each (not the same one) the counter will still count them

If I had to pick I would say nr2

[2021-01-19 12:06] iElsha opened #34 "Customer limit per shift"
This is from #30
![image](https://user-images.githubusercontent.com/38140638/105029299-79ab0000-5a52-11eb-941c-509ba0a0ebc6.png)

[2021-01-19 13:10] iElsha opened #35 "Automatic assign of the shift"
From #30
Could we add that when you open a new Booking-form it chooses the earliest time available based on above? (atm it chooses the starting time of the raid)

Requires #34 to be done before

[2021-01-19 13:14] iElsha commented on #33
i'm really not a fan of this design, if someone comes with a proper change that still looks beautiful, we can change it.

This is the result with a 32px size instead of 24px
![image](https://user-images.githubusercontent.com/38140638/105039291-a9f99b00-5a60-11eb-9680-6090b87e74cb.png)

[2021-01-19 13:16] iElsha commented on #30
This is not possible with the current architecture for technical reasons

---

This will be automated

[2021-01-19 13:17] iElsha commented on #30
I split the other ideas into #31 #32 #34 and #35

[2021-01-19 13:17] #30 closed

[2021-01-19 13:52] iElsha commented on #31
Both can be done though

[2021-01-19 14:01] #25 closed

[2021-01-19 14:01] Dejnaa commented on #33
As I said it was an example, didn't have access to the same picture, so just took one from google.

Still look beautiful? I didn't realize this was about looks and not about being practical and easy for use.

If we are talking beauty, then the current one is mediocre at best. Guild Name, Difficulty, If its Full or not full run and time should be positioned in a more artistic way - Guild on top cen

[2021-01-19 14:09] iElsha commented on #23
![image](https://user-images.githubusercontent.com/38140638/105045549-53905a80-5a68-11eb-9738-1ef52819b44e.png)
The GC name has been added

[2021-01-19 14:11] #23 closed

[2021-01-19 14:15] iElsha commented on #16
Allow user to be authenticated for 3 days instead of 1 day (auto-refresh is enabled)

[2021-01-19 14:26] #9 closed

[2021-01-19 15:47] Wanhedaa commented on #31
i'd recommend for that (already did for gabor), if you click on any option (like between gc and advertising, or home and advertising) the web should refresh. So we dont have to click on extra button, we do it anyway (even if we are in advertisement and click again on advertisement should refresh). Atm if you dont refresh the whole web, it doesnt refresh by clicking on other tab

[2021-01-19 15:52] iElsha commented on #31
@Bgabor997 might be useful to have a TTL (time to live) for each raid and we refresh on action X on Y raid if TTL is expired, we fetch it again and reset the TTL. In addition, they will have a refresh button.

We can defined TTL expired in time + 15 minutes for instance

What do you think of that idea?

[2021-01-19 15:53] Bgabor997 commented on #31
sounds good for me

[2021-01-19 15:56] iElsha commented on #33
The idea is to fit a lot of data in a single place. That's hard to do and the best solution I came up with. We do care about being pratical more than beautiful that's why the #11 can also solve this issue a bit

---
In fact, elements are centered but on the image I did broke it a bit.

Shortening to the icon is not enough, you are used to the website but everyone isn't.

We might hire a UX/UI desi

[2021-01-19 15:56] iElsha commented on #31
Added to the raid v2 milestone

[2021-01-19 16:01] iElsha commented on #5
Suzu and Indigo don't find this feature needed nor useful on the website.

[2021-01-19 16:01] #5 closed

[2021-01-19 16:12] Wanhedaa commented on #33
what if we add this as alliance picture and the currently for horde?
![image](https://user-images.githubusercontent.com/77633500/105061212-90b11880-5a79-11eb-8415-c22709f0eb54.png)

[2021-01-19 16:45] Tueri opened #36 "Show booster cut on signup page"
Booster cut should calculate from total pot, adjusting with accpeted members. Currently this is calculated at 70% divided by booster count.

[2021-01-19 21:33] Choppaaz commented on #28
As I said above, we almost passed some customers cause as GC we go by the sequence and once we are down sometimes new customers (with late times) shows up and we won't notice it.

[2021-01-19 21:49] Bgabor997 commented on #28
Its kinda urgent i think, the 20:00 ST curve runs messed up bcs of this
![image](https://user-images.githubusercontent.com/25648979/105097134-63c82a00-5aa8-11eb-807a-e92b2822693d.png)
but i don't rlly know why its messed up
Maybe we should only get the hours and minutes from the time picker and create a date object for the day of the raid with the picked time?

[2021-01-20 08:00] iElsha commented on #33
Changing the background will be for showing different services in the same raid. That's what is planned atm.

[2021-01-20 08:15] iElsha commented on #28
**How time shift are handled?**

By default when creating a new booking, you need to select a time. This is not just a "time" in our side, this is a date (already defined) where you select the time. The date is always the same date as the raid.

---

**What's the bug?**
As the date is always the same, if you want to create a shift on the next day (00:30 for instance), this is going to be created a

[2021-01-20 09:12] Bgabor997 commented on #28
i vote on the 2. solution, because it can be confusing or hard for advertisers to pick date and time, so if we change the sorting algorithm it will be the same for them but we fix the problem

[2021-01-20 09:41] Shienx commented on #28
Im also vor the 2. solution, it would be cleaner and there wouldnt be a need of more action taken on the side of the advertisers.

[2021-01-20 09:44] Suzaru commented on #28
Solution 2 sounds more error proof. Less user input, less margin of error. Never underestimate the Layer8 issue 😅.

[2021-01-20 10:00] ICCDesi commented on #28
You can also add a colour flame around a customer together with a tick-box so its confirmed that this person has been invited and/or done. I'm sorry but i like such things. Apart  from that, 2.

[2021-01-20 10:08] Bgabor997 commented on #28
@ICCDesi thats done with the gc improvements

[2021-01-20 10:10] Dejnaa opened #37 "Export Customer list with details into excel"
Hello

Currently its a bit user-unfriendly to manage the customers right in the website until we get the checks like Paid, Boosted, order of the bookings display, real time updating, ect

Would it be possible to have an export button that just exports all details to excel?

This is what I create each time I do curve runs to be able to keep track of all gold:

![image](https://user-images.githubuse

[2021-01-20 10:14] Dejnaa commented on #33
We dont really need a designer to fix majority of the visual "eye sores" I mentioned before

No clue what you are trying to say with this :)

[2021-01-20 10:17] ICCDesi commented on #37
This should be somewhat easy to have a button ''export to .xlsx.''

Although with the improvements we are doing @Dejnaa i don't think this would be useful soon.

[2021-01-20 11:45] Dejnaa commented on #37
depends how long it takes for all the abovementioned issues to be fixed ^^

[2021-01-20 13:26] iElsha commented on #37
gold collection features should be here by Friday MAXIMUM

[2021-01-20 13:37] Choppaaz commented on #28
I vote for solution 2

[2021-01-20 14:02] iElsha commented on #28
Solution 2 will be implemented by tonight. This will be fixed for this evening curve.

[2021-01-20 16:59] Choppaaz opened #38 "Bot gold sending messages to GC bug!!"
So I got one of the messages from the bot with 0 gold instead of 400k, here are the pictures:

![image](https://user-images.githubusercontent.com/77581204/105208237-82d2c480-5b59-11eb-90f9-dcdd287f7d99.png)

![image](https://user-images.githubusercontent.com/77581204/105208273-91b97700-5b59-11eb-8b4a-ffd85df74c66.png)

[2021-01-20 18:07] #28 closed

[2021-01-20 18:56] IndigoICC opened #39 "Prevent selected booster to remove his signup"
The Raid Leaders have had a few issues with boosters un-signing after they've been picked for the setup without notifying the Raid Leader. It would be really helpful if the assigned Raid Leader for the Boost could get a DM from Gluth, notifying them about this.

[2021-01-21 09:21] iElsha opened #40 "Fix submit majuscules"
Faction submitted should be in lowercase only for query purposes

[2021-01-21 09:24] #40 closed

[2021-01-21 17:35] Bgabor997 opened #41 "Booster can't cancel the signup, until noone selected"
"Can't  unsign raids . After signing up for friday i tryed to unsign couse of plans changes . Today i seen i got accepted to boost so i DMed RL to remove me"

![image](https://user-images.githubusercontent.com/25648979/105388845-6e550180-5c17-11eb-889e-8e5d18acb43c.png)

[2021-01-21 20:21] Bgabor997 opened #42 "Boss Names"
![image](https://user-images.githubusercontent.com/25648979/105407881-897f3b80-5c2e-11eb-9c77-f251a8e8328c.png)

[2021-01-21 21:08] Tueri opened #43 "Send Raid date and time when confirming/removing booster signups (via Gluth)"
As in title, they are only working with the ID and the link at the moment, can be confusing when signing for multiple raids.

[2021-01-21 21:10] Tueri commented on #33
The simple solution is adding [Horde] and [Alliance] at the front of each raid surely?

[2021-01-21 21:34] iElsha commented on #22
https://user-images.githubusercontent.com/38140638/105414525-e4696080-5c37-11eb-9ca4-461d815b9b0f.mp4

This is the Gold collector major update that has been requested.
it also fixes https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/20

Regarding the background, is it better to have :
- red & green
- default (grey) & green

[2021-01-21 21:37] Tueri commented on #22
Grey and green. Red indicates an issue; normal steps in the process are not an issue.

[2021-01-21 21:37] Dejnaa commented on #22
Looks nice, much approve

[2021-01-21 21:38] Kairav93 commented on #22
Red Green i prefer 👍

[2021-01-21 21:44] Bgabor997 commented on #22
exactly the same

[2021-01-21 21:53] Choppaaz commented on #22
So once a customer is booked and the advertiser collects an amount (from 10% up to 100%), we want a field defining how much left to collect to avoid any miss calculation and to make it easier to track.

Its preferred to be like this inside the booking:
![image](https://user-images.githubusercontent.com/77581204/104992372-f7aadf00-5a31-11eb-8859-574e8162a647.png)

Then from outside we want it to lo

[2021-01-21 21:53] Choppaaz commented on #22
If we can do that also please @iElsha

[2021-01-21 22:04] Dejnaa opened #44 "Multiple Realms payment"
Example how to change the booking screen to enable GC taking payments on multiple realms and keeping it separate from the payment the advertiser picked up (so we dont need that excel sheet to keep track how much we need to collect from advertisers for each customer)

![image](https://user-images.githubusercontent.com/77668716/105417531-11b80d80-5c3c-11eb-8843-119cbc0073a2.png)

List of what change

[2021-01-21 22:09] Choppaaz commented on #22
Would agree on same thing, Gray and Green

[2021-01-21 23:23] Suzaru opened #45 "Possibility for recurring events"
Heya!

I would really love to be able to get an "easier" way to set up raids. Atm I have to put them in manually even tho they are recurring.

So I suggest

a) Being able to hit a checkmark saying "recurring event every week/two weeks etc"
b) Creating templates

Would help a lot. Thanks <3

[2021-01-22 05:44] #42 closed

[2021-01-22 06:27] iElsha commented on #22
Alright, we've followed grey & green.

Regarding permissions, I've set up the following one:

     * See goldCollectionState (first Button): GC section & Managers section
     * See goldCollectionToDoState(second Button): GC section
     * See borders: GC & Managers & admin, plus advertiser = All except booster
     * See background: GC section

Thanks, everyone for your participation

[2021-01-22 06:30] iElsha commented on #44
duplicate of #6 but, please add your comment there

[2021-01-22 06:30] #44 closed

[2021-01-22 06:36] iElsha commented on #36
The booster cut also depends based on the type of boost. I first wanted to implement automatic fetch from the cut database we have but that's a bit hard to achieve as we can't save a file on the website server.

As the raid cut isn't changing anymore, we can rely on hardcoded values for this one but that will be an exception. We need to be warned if anything changes.

**What needs to be done**
->

[2021-01-22 06:37] iElsha commented on #29
Wouldn't that be better to just have the remaining amount to collect displayed here?

[2021-01-22 06:43] iElsha commented on #39
Do you mean that once the booster is selected in the roster, the guy removed his participation?

If so that shouldn’t happen has the raid should be in the running step but we figured out, it was not perfect at the beginning. This is more a bug here because if the guy is in the roster he shouldn’t be allowed to sign out and needs to ask to the raid leader.

After asking the raid leader will handle

[2021-01-22 06:44] iElsha commented on #41
Is this related to https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/39 by anyway?

Did you succeed to reproduce the bug?

[2021-01-22 06:46] iElsha commented on #37
Please, open this issue back if https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/22 doesn't fix it

[2021-01-22 06:46] #37 closed

[2021-01-22 08:54] #20 closed

[2021-01-22 08:55] #22 closed

[2021-01-22 09:30] Bgabor997 commented on #29
as i talked with Choppaa yesterday, its easier for Gold collectors when they edit the deposit, to see how much is remained, i suggested a disabled field here, what is just showing the difference. I can show you what i made and why

[2021-01-22 10:33] iElsha opened #46 "Can not select general due to the rename"
![image](https://user-images.githubusercontent.com/38140638/105480083-9428e780-5ca5-11eb-8d4e-dacbd046bd97.png)

[2021-01-22 10:35] iElsha opened #47 "Rename general (last boss - 1) properply"
https://github.com/Icecrown-Community/ICC-member-website/pull/92

[2021-01-22 10:46] Dejnaa commented on #6
So, since you cancelled my post that had solutions and examples - I will ask here
Did the image look like something that could be made?
I explained to Choppa yesterday on voice and he did get the idea of thous changes

[2021-01-22 10:53] #46 closed

[2021-01-22 10:55] Bgabor997 commented on #41
hmm i don't know, Indig wants another thing i think

yes

nop, tried in open, running too

[2021-01-22 10:56] Bgabor997 commented on #38
i tried it on local, couldn't reproduce this bug, the only case when this happened for me, when the customer's deposit is 0

[2021-01-22 21:36] iElsha commented on #2
The idea of this feature is to make the back end code more beautiful. It will involve a lot of little changes, please submit it step by step, so I don’t review 2000 lines changes at once.

Please read these articles:
- https://www.geeksforgeeks.org/7-tips-to-write-clean-and-better-code-in-2020/
- More globally https://www.google.com/search?q=how+to+write+clean+code+?
- I would also advise Medium a

[2021-01-22 23:02] Dejnaa opened #48 "GC note visable by not assigned GC"
Hey, I booked a customer today at a raid Orb was assigned to and I could see the GC note area.
I am not supposed to do that am I? :)

![image](https://user-images.githubusercontent.com/77668716/105558194-44cad180-5d0e-11eb-8bc0-c3a40aa2cdc7.png)

[2021-01-22 23:07] Bgabor997 commented on #48
Hmm, i think u see this one bcs u have the Gold Collector role, idk if we want this visible for the assigned GC only
Maybe Choppaa can answer for this.

[2021-01-22 23:10] Dejnaa commented on #48
Yeah, I know that why I see it, but was thinking if I am supposed to see it :)
Because if I am not collecting for that raid, I am supposed to be "only an advertiser" even if I have the GC role :)

[2021-01-22 23:43] ICCDesi commented on #48
The purpose of this was to be a tool to the assigned GC. Will move it into the enhancement section.

[2021-01-23 00:01] Choppaaz commented on #48
It should be only visible to the assigned GC and me (as GC manager).

[2021-01-23 15:25] iElsha commented on #29
Ok for a disabled field that's fine, plus the other one that he asked @Bgabor997.

You can do the PR when you have a chance

[2021-01-23 15:26] iElsha commented on #6
Sorry, I forgot to move the message here.

![image](https://user-images.githubusercontent.com/38140638/105606126-c155c280-5d97-11eb-93f7-ba281b943229.png)

It's what I planned but not only for GC. For everyone.

[2021-01-23 15:34] TheAmazingTyr opened #49 "Unsign not available after removing raider role"
Steps to reproduce:
Sign up with raider/curve booster role
get it removed
refresh
cant unsign, error message not found

issue: removing booster ranks due to incapability and they still may get invited. nono.

[2021-01-23 15:40] TheAmazingTyr opened #50 "Suggestion: Expected per booster payout on signup sheet based on current pot"
Useful so people don't go asking how much did i earn for that raid, etcetec.
clarity = yesyes

[2021-01-23 15:51] TheAmazingTyr opened #51 "Suggestion: Add the ability for the raid leader/raid/curve manager to remove a booster"
Raid managing tab, dropdown menu for characters, add a button to remove this person from signed people
Useful scenarios:
I had an emergency i dont have to unlist
I cant log in on my phone

Option to do so manually - yesyes so that we dont accidentally accept an unavailable booster due to something going on.

[2021-01-23 15:55] TheAmazingTyr opened #52 "Suggestion: Automatic Gluth ping in #H/A-raid-announcements for upcoming raids"
Make Suzu/Indigo/RL's jobs easier by automating the pings about incoming raids that are happening soontm (day or 2 ahead of time?)

Theoretically make it a weekly ping with schedules? maybe both?

[2021-01-23 15:58] TheAmazingTyr opened #53 "Suggestion: Automatic Gluth ping for #general-announcements in advertiser zone"
Make adv manager's jobs easier by automating "upcoming raids", either start of week, or day of, whatever they decide and "OH NO THERE'S A LACK OF BUYERS" 2-3 hours before the raid start IF under 50%/75% capacity? idk, up to adv managers. suggestion is there.

[2021-01-23 16:02] TheAmazingTyr opened #54 "Suggestion: ? button linking to a guide/documentation of the site"
Site can be confusing for some people, and while we do try to make sure people understand it, you know this isn't happening 100% of the time. insurance, adding a help button, (also should work with f1, if possible, UX stuff), which either leads to a full documentation where people have to scroll  through, or bring out an overlay with some pointers telling you "this does this, this menu brings you

[2021-01-23 16:07] TheAmazingTyr opened #55 "Suggestion: Do not route back to homepage when switching to another section"
Swapping between GC and managing, boosting, etc routes back to the home page instead of staying in the selected raid/current view. Should route back to home page if the access is lost between the modes, but should stay on the same raid when swapping between advertising/GCing and such.

[2021-01-23 17:18] Wanhedaa opened #56 "Not informing the customer about the new gold collector"
If someone gives the customer's discord tag, the customer gets a message, where it says who will be the gold collector, so he can contact with the GC on discord.

If someone can't attend on a day to collect the gold, the gold collector will be swapped to an another gold collector, but the customer is not notified about that, so he still thinks, the original gc will be his collector.

This happend

[2021-01-23 17:57] iElsha commented on #49
We are not checking if the guy still has the role. We should however.

Thx for reporting it.

[2021-01-23 17:58] iElsha commented on #50
Is this a duplicate of #36 ?

[2021-01-23 18:28] iElsha commented on #51
This was planned for v2 but I lost the idea, thanks for reminding me

[2021-01-23 18:28] iElsha commented on #52
We have already started to talk about it with the advertiser managers & raid managers

[2021-01-23 18:28] #52 closed

[2021-01-23 18:29] iElsha commented on #52
Closing as this is discussed somewhere else for now

[2021-01-23 18:30] iElsha commented on #53
Well, this is an advertiser manager job, but that could be possible in the future, really low low low prio as we already spoke about it but not required atm.

[2021-01-23 18:32] iElsha commented on #54
Well, we would need to write a complete documentation for the website, and hire someone for it, this is the main issue. I might request a post for documentation writer.

Otherwise, I agree.  When I was doing the structures I planned this section, but due to a lack of time, as always, I couldn't write the guide.

[2021-01-23 18:33] iElsha commented on #55
Well, this is the intended way. However, we can display a button changing the section from where you see the raid, would that do the job?

[2021-01-23 18:34] iElsha commented on #56
Perfect, just added it

[2021-01-24 01:51] IndigoICC commented on #39
Pardon the late response
Raid Leaders usually start picking their setup rather early, up to 2 days before the run actually is supposed to happen - Raid leaders will swap between Running and Open if they do not have enough sign ups. Once swapped back to Open; boosters will then unsign, even if picked.

[2021-01-24 12:16] iElsha commented on #39
Alright, I understood better but it's still a bug, high prio or medium prio for the RL team @IndigoICC ?

[2021-01-24 12:18] IndigoICC commented on #39
Medium prio

[2021-01-24 12:22] Bgabor997 opened #57 "Gluth not sending any message"
Tyr, and Orb experienced it too

[2021-01-24 12:59] #29 closed

[2021-01-24 12:59] iElsha commented on #29
![image](https://user-images.githubusercontent.com/38140638/105631010-6e8a1280-5e4c-11eb-9082-c9523f2e9870.png)
Result

[2021-01-24 13:05] #47 closed

[2021-01-24 13:10] iElsha commented on #57
As what I understood on Discord some are sent but not all when we have a high number of bookings, for curves runs especially.

We are going to remove GC discord messages as it's more a spam than useful due to the tons of bookings.

In exchange, we are going to add a "copy" button which will set into your clipboard the correct body mail

[2021-01-24 13:13] iElsha commented on #57
Snippets for copy in clipboard with react hooks:
[code]
Source https://stackoverflow.com/questions/39501289/in-reactjs-how-to-copy-text-to-clipboard

[2021-01-24 13:13] iElsha commented on #57
Will also solve https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/38

[2021-01-24 13:20] Choppaaz commented on #57
I truly like this more, I mean a place to copy the info needed to send via mail.
but how would we copy the message title then?
As before we had both sent to us and with this copy feature it will include the message body only

[2021-01-24 13:23] iElsha commented on #57
We can have two button, copy title & copy body?

[2021-01-24 13:24] Bgabor997 commented on #57
for this i have a suggestion:
![image](https://user-images.githubusercontent.com/25648979/105631656-bcece080-5e4f-11eb-831a-2152661f1e6b.png)
We can display the title for copy below the buttons, i don't suggest the 2 button bcs the title is the same for every message

[2021-01-24 13:25] iElsha commented on #57
The guy would need to scroll up each time, which's painful for booking in the end of the list

[2021-01-24 13:25] Choppaaz commented on #57
Then it would be better than before, as it would be easier this way.

[2021-01-24 13:26] iElsha commented on #57
Elsha 1
Gabor 0

[2021-01-24 13:26] Bgabor997 commented on #57
I'm lost :( okay

[2021-01-24 13:27] iElsha commented on #57
In order to avoid confusion as the icon will be the same for each button (AssignmentIcon), use different tooltips

[2021-01-24 13:28] Bgabor997 commented on #57
maybe we should use the filled for message and outlined for title too, some visual difference is good i think

[2021-01-24 13:28] iElsha commented on #57
Or we can have this

Title Icon:
![image](https://user-images.githubusercontent.com/38140638/105631770-66cc6d00-5e50-11eb-9f1e-de3a7d1e4aec.png)

Body icon: import AssignmentIcon from '@material-ui/icons/Assignment';

[2021-01-24 13:55] Choppaaz commented on #57
![image](https://user-images.githubusercontent.com/77581204/105632565-dcdacf00-5e64-11eb-8216-871cf2a0cd80.png)
and
![image](https://user-images.githubusercontent.com/77581204/105632567-e106ec80-5e64-11eb-82d5-3022bbd08740.png)
for me at least :)

[2021-01-24 15:29] #48 closed

[2021-01-24 17:21] ICCDesi commented on #39
@iElsha @IndigoICC

I'd say don't Prevent them from removing their sign-ups. Something might happen to them so they have to. You can set it as:

1)They can't remove sign-uns before 2-3 hours of the raid.
2)RL gets informed about that removal.

[2021-01-24 18:02] iElsha commented on #19
@Icecrown-Community/icc-staff
Do you want to:
- 👍 Only see Local Time
- ❤️ Only see Server Time
- 🎉 Have the choice to see LT or ST

[2021-01-24 21:21] TheAmazingTyr opened #58 "Suggestion: Copy button for realm-servername"
self explanatory. eases up copying the names when using small fonts.

[2021-01-24 21:24] TheAmazingTyr opened #59 "Suggestion: Split "collected" button to "collected without deposit" and "collected deposit""
creates a clear line between "GC has 90%" and "GC has 100%". helpful for when/if deposit went missing, but not the full amount.

[2021-01-24 21:26] TheAmazingTyr opened #60 "Suggestion: Typebox with a copy button for Gold collector's quick introduction"
Having a copied introduction and explanation why i am messaging people = good good, have it saved within personal GC sheet, would like to see it on the same page as where i copy buyer names, convenience, speed of GCing which gets hectic in large curves

[2021-01-25 01:59] TheAmazingTyr commented on #50
Yes, looks like it. My bad

[2021-01-25 01:59] #50 closed

[2021-01-25 02:07] TheAmazingTyr commented on #54
I can't write a documentation, but if you'd like, i can write out a guide (i don't necessarily want to put a time on this, i do have some things to do myself) but i could, eventually, create a discord page with guides for the advertiser, for boosters, for guilds, for gcs?, Etc.

I'd like to note that i feel like a toggle button that brings up an overlay with explanations to each could be faster to

[2021-01-25 02:09] TheAmazingTyr opened #61 "Suggestion: ability to click away bottom popups"
Sometimes these popups, especially when 2 of them are present, tend to hide something, slight annoyance when GCing and trying to mark people only to get ****blocked by a success button

[2021-01-25 02:14] TheAmazingTyr commented on #55
It would do the job, i think, but it does depend on how it is made. Matching expected UX is somewhat good to keep in mind on a site, and when a booster wants to sign up and book a buyer or gc collect mark and book at the same time they are, in the current iteration, better off opening 2 tabs. The button has to be intuitive enough for them to realise that this will switch them to the wanted mode. M

[2021-01-25 03:41] IndigoICC commented on #39
The prevention should not be there no; it's mainly the RL's being informed ye ^

[2021-01-25 08:52] iElsha commented on #19
Server TIme only

[2021-01-25 09:33] #19 closed

[2021-01-25 10:19] #57 closed

[2021-01-25 11:24] TheAmazingTyr opened #62 "Suggestion: add a copy button for the correct bank character to the existing copy buttons"

[2021-01-25 11:42] iElsha commented on #38
Fixed with  #57

[2021-01-25 11:42] #38 closed

[2021-01-25 12:27] TheAmazingTyr opened #63 "Suggestion: If raid is marked as done (i.e. past running stage), and a buyer is not marked done, add "no show" button"
would also be nice to have the gold button to copy 10% in this case, for sending deposit only, as we're keeping that in case of noshows.

[2021-01-25 16:50] Dejnaa opened #64 "Suggesstion: Add filter to "collected", "not Collected" and "sent" payments for GC"
To make it nice when we gotta go hunt down advertizers, instead of having to scroll through whole page :)

[2021-01-25 17:10] iElsha commented on #64
I got the point, this is a really low low low prio (but good idea) as the GC systems are already self-sufficient for now. Other sections also need our time.

[2021-01-25 17:37] Dejnaa commented on #64
Yes, thats why I put it as suggestion :)

[2021-01-26 11:21] ICCDesi opened #65 "Booking & Server time."
A bit urgent since i just find out.

When you book a customer and you pick time, time isn't shown correctly to others. (It just happened with me, other's dont have such problem.)

Example:

![image](https://user-images.githubusercontent.com/77063189/105838693-1a606900-5fd9-11eb-82dd-da4b0490580f.png)

![image](https://user-images.githubusercontent.com/77063189/105838769-395efb00-5fd9-11eb-97a9-8f9

[2021-01-26 12:38] #65 closed

[2021-01-27 08:51] Papa2324 opened #66 "Small spelling fix"
![image](https://user-images.githubusercontent.com/77280335/105966610-2f92d180-6085-11eb-922c-9e018b1cffb2.png)

"You didn't sign up as a Tank/Healer/DPS."
or
"You haven't signed up as a Tank/Healer/DPS."

[2021-01-27 13:58] Choppaaz opened #67 "The ability to Group customers by payment realm"
I would be happy if there would be a way to sort customers by payment realm ( in gold mailing mode only ) as this will make it much easier than going in then out from each realm and sometimes you login on same realm more than 5 times :S
This issue specially happens in curve runs and much needed there.

For example, this run of mine got 39 customers on about 16-18 realm and it would be much easier

[2021-01-27 16:18] Phenthex commented on #33
Well i prepared quick something like that maybe could work?

![image](https://user-images.githubusercontent.com/77830954/106019894-339a1000-60d4-11eb-8304-20845fdd1b4d.png)
![image](https://user-images.githubusercontent.com/77830954/106019930-3dbc0e80-60d4-11eb-89ad-d74a8c4fa936.png)

[2021-01-27 16:25] iElsha commented on #33
what happens with the white border inside?
1. Nothing
2. Outside the text
3. Outside Text + logo

[2021-01-27 19:24] Phenthex commented on #33
On hover can be like that
![image](https://user-images.githubusercontent.com/77830954/106042598-50434180-60ee-11eb-93b7-c7c56a6b6376.png)
![image](https://user-images.githubusercontent.com/77830954/106042616-589b7c80-60ee-11eb-93ad-f0b0d0cf8c9a.png)

[2021-01-28 15:38] #66 closed

[2021-01-29 08:12] Dejnaa commented on #33
I really like it! :D

Could you try putting the guild name over the run type? And the time under? Just would like to see how it looks with your example :)

![image](https://user-images.githubusercontent.com/77668716/106248990-0c495d00-6212-11eb-943c-c2058c4acbb2.png)
![image](https://user-images.githubusercontent.com/77668716/106249001-0fdce400-6212-11eb-95e5-d9e7e65d63c0.png)

[2021-01-29 09:47] iElsha opened #68 "Empty bot messages"
![image](https://user-images.githubusercontent.com/38140638/106259320-5edd4600-621f-11eb-8f9c-f15fac669e44.png)

[2021-01-29 14:04] iElsha opened #69 "Add Curves support on submit command"

[2021-01-29 14:29] #69 closed

[2021-01-29 16:09] #39 closed

[2021-01-29 16:09] #41 closed

[2021-01-29 16:09] iElsha commented on #49
Needs a part of #2 before

[2021-01-29 16:13] iElsha commented on #3
not a bug

[2021-01-29 16:13] #3 closed

[2021-01-29 16:22] Phenthex commented on #33
Yay! Thank you im glad you liked it <3
I made your suggestion also, Guild Name / Inhouse Raid fonts are **bold** rest is regular, GC Name, Raid Leader Name-Realm and Raid Status fonts are _italic_.

**-  None active versions**

![image](https://user-images.githubusercontent.com/77830954/106299300-1137fc00-6266-11eb-94d4-8ae00c9500b9.png)

![image](https://user-images.githubusercontent.com/77830954

[2021-01-29 19:28] Dejnaa commented on #33
I really like it! Lets see what the others think ^^

[2021-01-30 12:00] Tueri opened #70 "Discord/Battle tag mandatory fields"
Providing one OR the other should be mandatory, else the customer is not contactable and advertisers get a bit rowdy when they miss their invites if name-realm is not spelled correctly or similar. It would also promote Gluth messages to customers.

[2021-01-30 12:41] TheAmazingTyr commented on #70
Hey there! I'd like to butt in on this one, there will inevitably be some buyers who do not wish to share other ways of contact, idea:
a checkbox that customer did not want to provide alternative contact info. This should however come at an increased deposit and forfeiting an option to get refunded if we cannot make contact via whispers. this should be VERY CLEARLY explained by the advertiser
In c

[2021-01-30 14:12] TheAmazingTyr opened #71 "Managment view: buyers not marked as "sent" have an empty button that says Mark as "undefined"?"
giga minor. just noting a small boop in the site

[2021-01-30 18:36] Tueri commented on #70
a checkbox for such things would be fine also, as long as it prevents info from being added to the fields if checked, and doesn't feed data from those fields (if any was entered) before the box was ticked, maybe even have a warning prompt too.

[2021-01-30 20:30] TheAmazingTyr opened #72 "Suggestion: Value checking (comparing prices with bosses tagged)"
Would - highlight people mistakingly marking wrong bosses (which happens way too much)
warn people if they are mispricing bosses (maybe integrate hot deals in a way?)
mistake margin about the usual 10%, +-.

I understand this is actually a large techical thingy, so low prio

[2021-01-31 19:20] Bgabor997 opened #73 "Raid changes only to accepted boosters"
Indigo suggested, we should only inform the accepted boosters about raid changes.

[2021-01-31 19:24] Bgabor997 opened #74 "Spec not showing correctly in roster"
https://images-ext-1.discordapp.net/external/5IJrEisvB-Ngu34Zel7JjcxzEgzdgJlb1lqWw7VRo0g/https/i.gyazo.com/thumb/1200/0a895d1a2182f0459fd0e44deafb6618-png.jpg

When he is picked as a tank, he shown as a dps

[2021-02-01 08:09] iElsha commented on #33
![casteNathria](https://user-images.githubusercontent.com/38140638/106431111-13b87280-646d-11eb-8d13-88c42e3ce788.jpg)

If you want the high res picture to make the change on it (red & blue) and send it here, we'll have a look when we come to that part

[2021-02-01 08:10] iElsha commented on #61
What are these popups, can you provide a screenshot ?

[2021-02-01 08:12] iElsha commented on #70
TLDR;

Add mandatory contact options (Discord, battle.net). If the customer doesn't want to share we respect the decision through a checkbox for the advertiser.

[2021-02-01 08:15] iElsha commented on #58
The copy will put this string in clipboard
[code]

[2021-02-01 08:17] Bgabor997 commented on #58
its a good idea to copy the invite command?
usually we have to whisper them first and ask them if they can go, etc

[2021-02-01 08:18] iElsha commented on #58
Wouldn't that be better to click the name of the customer than adding a button to copy it?

We change the cursor to a the pointer?

[2021-02-01 08:20] Bgabor997 commented on #58
sounds nice for me, but i sugges to copy only the ${characterName}-${characterRealmWithoutSpaces}
because in this case we can use it for invite / whisper / or simply sending it to the adv if we have a question

[2021-02-01 08:20] iElsha commented on #58
Yes I edited my previous message, agree with you

[2021-02-01 09:54] Phenthex commented on #33
I edit the picture you send @iElsha
Here it how it looks ^^

![image](https://user-images.githubusercontent.com/77830954/106442664-98ff4f80-648c-11eb-8ebe-eae058c78bde.png)

[2021-02-01 10:53] Choppaaz opened #75 "Adding discord tag for a customer bug!!"
When I do a new booking and add customer tag, after refreshing the website the discord tag goes away :S
Tried this 5 times already now and issue still there...

Video link on YouTube (unlisted video):

https://youtu.be/AW_K-JKhnkU

[2021-02-01 11:50] Dejnaa commented on #62
Or perhaps it would be better in the long run if the info told you what realm to log on (we have bankalt on that realm). I find that I often have to open Icc Bankalt sheet to check what a realm is connected to and what realm we have the bankalt on. I have 5 accounts, and only make alts on the realms that we have banks on, the other realms are not needed? :P

[2021-02-01 11:52] Dejnaa commented on #67
TBH THIS emoji

[2021-02-01 11:57] Dejnaa commented on #33
Could you make the background picture hue a bit brighter so more details are visable? If I was new in this thread I would have difficulty to see that this is Castle Natharia. Considering how small the pricture is I dont really see why we need to use this highres picture, the other one was easier to see.

[2021-02-01 12:02] Dejnaa opened #76 "Suggesstion: Button to copy RL/GC discord tag"
Everytime I need to contact the raidleader that I dont normally talk to, I have to go to the ICC discord and search for the name manually - cant copy it from the picture - then find a post he/she did, jump to it and then rightclick the name and "Send Message".

I think if the RL and GC had a invisible button over the name that copys their discord tagg it would be much faster to simply go to Discor

[2021-02-01 14:01] Phenthex commented on #33
Other picture i also used it had better quality + dimensions also were more high. But when i change hue of tha background, it loses exactly this blue & red color :(

[2021-02-01 18:16] #68 closed

[2021-02-01 18:21] Bgabor997 commented on #62
Like displaying a warning  icon in the booking card, with a tooltip what telling you, like: " We don't have bank character on Mal'Ganis, log in to Blackhand"?

[2021-02-01 20:24] TheAmazingTyr commented on #62
i think the idea is to have a third line, as we have - customer realm, paid realm, and then add the third one, bank realm
while i agree, it'll then go back into needing to copy both the customer name AND the realm, so for that, #58  would be required to be running, and there's a question of what GCs care about more, duplicate chars on merged realms or potential inconvenience in inviting/whispering

[2021-02-01 20:32] TheAmazingTyr commented on #76
possibly expand into click to copy discord ID on hover? if you can be bothered, CSS animation or similar transition for some aesthetic transitions to correct width

[2021-02-02 09:49] iElsha opened #77 "Add multiple raid supports"
Currently the website only works for CN, add the multiple selections for incoming patches

[2021-02-02 11:33] Bgabor997 commented on #26
part 2 is kinda solved with https://github.com/Icecrown-Community/ICC-member-website/pull/107

[2021-02-03 07:38] iElsha opened #78 "Gold collection log compatible with addon"
Make the log  compatible with addon
![image](https://user-images.githubusercontent.com/38140638/106713773-36789180-65fb-11eb-9007-7220fdcb429e.png)

[2021-02-03 07:59] Wanhedaa opened #79 "Sort by server - gc option"
My idea is, to be able to sort the customers by server. This would help the mail sending proccess, especially on curves

[2021-02-03 20:42] IndigoICC opened #80 "New Raid Catagory needed"
VIP system is getting integrated into Curves. Today we had the first VIP in a curve shift, which essentially added another run on top of the original run (price wise). I would like for there to be a Catagory option called: "VIP - Curves", so that I'm eligible to throw together one SLG/Sire run in no time for VIP sales during any given reset.

[2021-02-03 23:35] IndigoICC commented on #80
Also a "Custom" catagory ^^
We were getting interest in some BoD Transmog Runs (Catagory would be legacy), so the "Custom" name would be the best title for the catagory. Backround picture would be the Yogg-Sarons puzzle box:
Picture: https://gyazo.com/47987bbfa9a23880c6512613ea3bf266

[2021-02-04 07:39] iElsha commented on #26
Yes @Bgabor997 I put you in charge of part 1

[2021-02-04 13:19] Dejnaa commented on #31
Is it possible to to make that when you hit F5(or a button) in any raid it only refreshes THAT raid? So you dont need to have a 45-1min wait time to get newest bookings on in the raid?

I can imagine there is a LOT of data for each raid, customers, advertizers, boosters, gold calculations ect. But maybe you can split it so upon clicking this "button" it refreshes only the section that your role in

[2021-02-04 13:26] Dejnaa commented on #59
You gave me an idea with this. We write all the numbers, easy to do a mistake. What if we write total amount 150,000 and have 2 buttons (in booking window) Collected Deposit and Collected All. Then Advertisers can click it for faster booking. If they picked 0 or a random number they can write it.

Then in the GC section, we could have Collected Deposit + Collected Customer (only shown if advertise

[2021-02-04 13:28] Dejnaa commented on #61
![image](https://user-images.githubusercontent.com/77668716/106898904-0c0aff00-66f5-11eb-8ac6-a633a7d75c02.png)
![image](https://user-images.githubusercontent.com/77668716/106899007-2644dd00-66f5-11eb-8cc1-b6951311299a.png)

These is what she is talking about. Its when we use the 2 new buttons for "Collected gold" "boost done"

[2021-02-04 13:32] Dejnaa commented on #64
Actually, noted this is taking most of the collection time, as advertisers log it to calculate how much they need to trade, and I calculate how much I need to ask from each advertiser.

Maybe instead of doing anything to the website, would it be possible to request the data into excel? Like advertiser name, customer name, realm paid, total amount and note. Thats it - they we can filter ourself and

[2021-02-04 13:35] Dejnaa commented on #75
+1

[2021-02-04 13:38] Dejnaa commented on #76
I was thinking of a "as little work as possible to just get it live" scenario as they have enough stuff to work with.
Makes sense to just click on a name to get a discord tag, not needing any extra visuals.

I dont know how much work your suggestion is compared to mine :)

[2021-02-04 13:40] Dejnaa commented on #79
Choppa already posted this suggestion :)

[2021-02-04 13:46] Dejnaa commented on #33
But if you put the blue/red on a different layer, and just alter the hue of the background picture then the blue and red hint shouldn't be affected :) Overall I give 1000 DKP for your pictures in this comment:

https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/33#issuecomment-769904207

Any other voters? Choppa?

[2021-02-04 13:57] Dejnaa opened #81 "Getting ejected from website, need to accept discord again"
During my 3 curve shifts this week I had 1 reoccurring problem

Every 10-15min I was suddenly sent out from the raid (clicked reload as I do every 2-3 min) back to the start of the website where it says this website is only for members if ICC, then you have to accept to log in with your discord credentials. After clicking yes, I am sent to home page - have to click on Goldcollecting, Select the ra

[2021-02-04 14:03] Dejnaa opened #82 "After editing a booking, next time I edit it all available bosses are selected"
Edited my booking - (this example The time shift) - Saved. This is how it looks:
![image](https://user-images.githubusercontent.com/77668716/106902889-9b1a1600-66f9-11eb-8c76-1ea177ce9b2b.png)

Click edit again after and it shows like this:
![image](https://user-images.githubusercontent.com/77668716/106902919-a3725100-66f9-11eb-8875-a6bde3c4f033.png)

For curve only does it for the last 2, for ful

[2021-02-04 14:08] Dejnaa opened #83 "Please make Name field remove Space"
A couple of times each Curve shift, someone has added their customers name with a space after, so the name on the booking becomes Dejnaa -Sylvanas : When I then copy it to send a whisper it obviosly fucks it up - making me whisper the realm to Dejnaa, so if she is not on my server the message will not arrive.

![image](https://user-images.githubusercontent.com/77668716/106903669-9144e280-66fa-11eb

[2021-02-04 14:20] Dejnaa opened #84 "Suggetion: Compress the information a bit on the Customer Cards"
We would be able to see many more customers on a page if we didnt use so much dead space between the different info.
I made the browser as small as possible to see how much it will compress the cards - see picture, left is a normal customer as it is now - the right one I have compressed in paint just to show how much space can be saved.

![image](https://user-images.githubusercontent.com/77668716/

[2021-02-04 14:30] Phenthex commented on #33
Blue and red is not as overlayed layer. Its as smart filer/solid color and hue saturation change as filter again. And the other picture i used you linked it has better resolution thats why i can edit colors more on that. Pixel size /dpi is higher i mean. But in other image it has more low resolution so every change on colors i made as filter makes me to lose some details on darker colors.

[2021-02-04 18:23] Wanhedaa commented on #79
I dont see it actually, tried to search it

[2021-02-04 18:25] Wanhedaa commented on #79
Didnt see sorry :D

[2021-02-04 18:39] ICCDesi commented on #79
Duplicate of #67

[2021-02-04 18:39] #79 closed

[2021-02-05 05:26] iElsha opened #85 "Prevent Raid leader to delete a raid"
Only allow it for Managers

[2021-02-05 08:06] Bgabor997 commented on #85
This is how it works now

[2021-02-05 08:44] iElsha opened #86 "Redirect from /auth to / if connected"
Avoid the login process if the user is already connected

[2021-02-05 08:44] iElsha commented on #16
Can I get confirmation that it works properly now?

In addition we'll do https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/86

[2021-02-05 09:45] iElsha commented on #2
Get method of all raids has been updated - should see large performance improvements

[2021-02-05 10:08] iElsha opened #87 "When refreshing a page, we are redirected"
#2 & https://github.com/Icecrown-Community/ICC-member-website/pull/109 brought a bug where you can't refresh on a raid/raidId page you well get redirect to /

[2021-02-05 10:10] #87 closed

[2021-02-05 10:54] iElsha commented on #2
![image](https://user-images.githubusercontent.com/38140638/107024823-d0317180-67a8-11eb-874d-520d51246a0d.png)
These 2 functions are causing latency problems

[2021-02-05 11:07] iElsha commented on #2
[code]
![image](https://user-images.githubusercontent.com/38140638/107026044-7c278c80-67aa-11eb-875b-01b0c0e44de7.png)

Must avoid regex on the backend side - especially these two functions.

[2021-02-05 13:04] iElsha opened #88 "Remove the realm field from Precious"

[2021-02-05 13:05] #88 closed

[2021-02-05 13:39] IndigoICC opened #89 "Option to "finalize" the setup/roster - In turn notifying non-picked boosters"
If there could be added an option for a button that would be called: Finalize Roster or Close Setup, that would send out a DM to the boosters that has not been picked - This would be a quality of life function, that would allow the boosters, who were not picked for the boost, to schedule otherwise.

[2021-02-06 00:09] Bgabor997 opened #90 "Show done state for advertisers too"
show the background for advertisers too even on the "Anonymus bookings"

[2021-02-06 00:18] Bgabor997 commented on #80
i like this idea, i give it a shot at the morning

[2021-02-06 00:19] Bgabor997 commented on #80
If i understand i corrrectly, u need a "VIP-Curves" option to the Service select, right?

[2021-02-06 00:20] Bgabor997 commented on #89
i see how much time i have tomorrow, and give this a shot too :D like the idea

[2021-02-06 00:25] IndigoICC commented on #80
To the Service indeed

[2021-02-06 22:33] Bgabor997 opened #91 "Can't write to time input"
A few advertisers requested this, it would be easier for them if they could write in the time input

[2021-02-07 00:44] ICCDesi commented on #83
@Bgabor997 Maybe you could that quick

[2021-02-07 00:46] Bgabor997 commented on #83
Its done, because of another issue, already made the PR, that gonna solve both issue

[2021-02-07 20:18] iElsha opened #92 "wrong message when editing a raid"
When you edit a raid you get the message:
![image](https://user-images.githubusercontent.com/38140638/107158407-0417bd00-698a-11eb-8fa1-9c92b621d7c0.png)

[2021-02-08 06:40] momos-icc commented on #33
Psssst, I'm going to drop this here :) Tried for a more streamlined, clear version. But as you can see the background gets a little bit lighter and the white box is around the edges for when it's hovered, and then of course red/blue backgrounds with a simple icon in the corner to make it super obvious for which faction.
![Raid-HoverStates](https://user-images.githubusercontent.com/5431885/10718435

[2021-02-08 09:47] iElsha opened #93 "Encrypted values wrongly"
The update on #2 brought a bug for raid leaders when they see values crypted. I think the issue is in the encryptRaid function
![image](https://user-images.githubusercontent.com/38140638/107202694-c2732a80-69fa-11eb-9db5-e8d6df7aea29.png)

Steps to reproduce: only take the RL role on a guild partner and access the raid leading panel

[2021-02-08 10:16] Phenthex commented on #33
Aaa yes please i really liked it clean and minimal <3

[2021-02-08 16:23] #91 closed

[2021-02-08 16:23] iElsha commented on #90
Who requested it, and why?

[2021-02-08 16:38] Bgabor997 commented on #90
James, bcs he usually adding 20-30 customer under a Curve shift its very good for him and for other advertisers to know which run is done and how can he schedule the next customer

[2021-02-08 16:56] #93 closed

[2021-02-08 16:57] iElsha commented on #90
Ok perfect

[2021-02-08 16:57] #90 closed

[2021-02-08 17:09] iElsha commented on #85
I updated the title, I meant prevent them to delete a raid

[2021-02-08 17:09] #92 closed

[2021-02-08 17:16] iElsha commented on #83
Done in https://github.com/Icecrown-Community/ICC-member-website/pull/107

[2021-02-08 17:16] #83 closed

[2021-02-08 17:18] TheAmazingTyr commented on #16
any chance for a settings menu while logging in to set the range, 1day 3 days 5 days 7 days?

[2021-02-08 17:22] iElsha commented on #16
Not really

[2021-02-08 20:10] Bgabor997 opened #94 "Fixing realm name in customer name"
always have to copy the character's realm, we don't need realm paid

[2021-02-09 09:57] #75 closed

[2021-02-09 10:15] #94 closed

[2021-02-09 10:15] #16 closed

[2021-02-09 10:16] iElsha opened #95 "Add unit testing & co'"

[2021-02-09 12:24] Dejnaa commented on #33
I like it tooo a lot :D

[2021-02-10 09:27] iElsha commented on #81
Did that happen again? @Dejnaa

[2021-02-10 09:37] iElsha commented on #80
Wouldn't just the note be enough for it, why do we need a full service just for it?

[2021-02-10 09:38] iElsha commented on #89
The select roster needs to be reworked in term of the process as moving from open to running each time is bad

[2021-02-10 09:40] iElsha commented on #84
We might be able to release a compact view mode in the future but it's not a priority

[2021-02-10 09:42] iElsha commented on #78
Uploading Icecrown Community - Google Chrome 2021-02-10 10-41-13.mp4…

[2021-02-10 09:42] iElsha commented on #82
https://user-images.githubusercontent.com/38140638/107492355-a1424380-6b8c-11eb-8119-66fc73e4a414.mp4

[2021-02-10 09:44] iElsha commented on #63
Not really sure why here?

[2021-02-10 09:46] iElsha commented on #59
Can you give more details if possible pls?

[2021-02-10 09:47] iElsha commented on #71
Can you provide a SS pls?

[2021-02-10 10:22] iElsha commented on #82
PR: https://github.com/Icecrown-Community/ICC-member-website/pull/122

[2021-02-10 10:36] #61 closed

[2021-02-10 10:43] #82 closed

[2021-02-10 11:21] Fakevox opened #96 "[Quality Of Life] Update boost message output to confirm bankname-realm."
Current Example of message posted to advertiser which is then copy pasted to the gold collector

RunId: 808878720394854450
Pot: 375,000
Activity: Dungeon M+
ActivityId: 0
Advertiser: Jamésdruid-Tarrenmill [Trainer]
AdvertiserId: 183286897823449088
Realm: doomhammer

Suggestion would be that it now does

RunId: 808878720394854450
Pot: 375,000
Activity: Dungeon M+
ActivityId: 0
Advertiser: Jamésdrui

[2021-02-10 11:45] #96 closed

[2021-02-10 11:45] Fakevox commented on #96
Wrong section #Hodor

[2021-02-10 13:12] Choppaaz commented on #96
Looks good to help advertisers and GC not to miss the correct realm specially with connected realms 👍

[2021-02-10 13:21] ICCDesi commented on #96
This issue is closed and has been transferred [Here!](https://github.com/Icecrown-Community/Icecrown-Precious-Bot-Public/issues/19)

[2021-02-10 20:27] iElsha opened #97 "Crash when clearing the "main character" input"
https://user-images.githubusercontent.com/38140638/107568074-cb285400-6be6-11eb-9e50-2a4e9d039c98.mp4

[2021-02-10 20:37] IndigoICC commented on #80
The note will be enough, yep. Since VIPs for Curves will be done exclusively on Wednesdays, I no longer see a reason as to have another category within the "Service" option (later in any given tier, when everyone has stopped during Heroic within their guilds, we will then offer VIPs on demand).

You can mark as resolved.

[2021-02-10 20:39] Bgabor997 commented on #80
@IndigoICC  if we maark it as resolved, do u mind creating a new issue about the legacy things, bcs we have something yet in that feature?

[2021-02-10 20:39] IndigoICC commented on #80
Can do, Firefox.

[2021-02-10 20:47] IndigoICC opened #98 "Legacy"
Work in progress - Legacy

[2021-02-10 21:24] TheAmazingTyr commented on #59
I'd like to separate the "collected" button into "collected from customer" and "collected from advertiser", simply because it gives more readability and clarity, as of now i have to use either a personal sheet or the GC notes which i have to open each dropdown menu for. Having a graphical showing of "you collected from customer, but not the deposit from adv" would make it a smoother thing to deal

[2021-02-10 21:36] Fakevox commented on #84
Crazy Suggestion make it bars going horizontal with the relevant information like the old spreadsheet....  Way easier to manage and work your way down the list etc.

Here's my mock-up

![Booking Idea](https://user-images.githubusercontent.com/78853011/107575603-fbbcbd80-6be7-11eb-8410-8a03d0b8a89f.png)

[2021-02-10 21:47] Dejnaa commented on #84
This also looks really nice! Very handy and easy to see - I like!

[2021-02-10 21:55] Dejnaa commented on #81
Last Curve run I only got thrown out 1 time I think - have another one on Friday and will see then :)

[2021-02-10 23:25] Bgabor997 commented on #59
I doing it this way: only mark the booking as collected if i have all gold, so the red border shows me, where should i collect from advertisers, and when i collect 90%, i add it to the note, actually 3 click and a ctrl+v

[2021-02-11 09:34] #80 closed

[2021-02-11 09:38] iElsha commented on #81
Did you get a toast message at the bottom?
Did that happen randomly and after having clicked a button?

[2021-02-11 19:58] TheAmazingTyr commented on #59
Thats just not showing the rl what u collected and its literally the same amount of actions needed as my method.

[2021-02-11 20:00] TheAmazingTyr commented on #71
I'll provide on tmrws boost

[2021-02-11 22:15] Dejnaa commented on #81
Yes, when I get logged out a red message showed up in the bottom, I didnt take a printscreen and the message wasent to obvious.
If I see it again I will take a printscreen. Tomorrow I have the 14:00 curve shift, so lets see if it happens again since you have fixed some issues with the long loading ect the past week. After tomorrow if I dont experience that anymore we can close this ticket :)

[2021-02-12 08:47] Choppaaz opened #99 "Legendary Adv asking for GC to do their job"
Gold collectors are there for certain tasks, which doesn't include collecting from legendary advertisers (raids not included) while they should do their work by sending the gold over, so I'm here suggesting when GC collects from legendary advertiser then he takes 2% of the advertiser cut instead of management cut since advertiser should be the one doing the mailing and its part of his job.

[2021-02-12 11:50] Winchester-Icc commented on #84
Looks good to me. Even lower height bars to fit more customers. And notes can be visible at all time.

[2021-02-12 12:16] Winchester-Icc commented on #59
I was looking for this exactly. It's not that big of a deal but it bugs me too. Currently I'm using the "collected" button to help myself with collecting from advertisers after the curve shift is over.

Would it be possible to make it so advertiser types exact amount he collected and have a button for us "collected the rest" so we don't even edit advertiser's number. This way we know customer has

[2021-02-12 13:15] TheAmazingTyr commented on #63
Simplifying the pre-submitting check for the RL/Raid/curve manager. at the moment we either have to pray that it's in the note, or remember/go digging in DMs, plus between different GCs the border might be red (as uncollected due to noshow) or marked as yellow (collected cuz they have the deposit)
There are many variations to what people may do, having a standardised option to mark as a noshow (fo

[2021-02-12 16:17] Fakevox opened #100 "New Gold Mailing Button - "Banker""
New button for Gold Mailing "Banker"

Click this button to automatically copy the bankname-realm for the server you're making payment on.

![image](https://user-images.githubusercontent.com/78853011/107792977-aef2f700-6d4d-11eb-9037-82bf96a2f024.png)

I know there's the WA but this is a Quality of Life enhancement that reduces error.

[2021-02-12 16:17] Fakevox commented on #100
I don't think this mspaint job will fool you this time @iElsha :)

[2021-02-12 20:12] TheAmazingTyr commented on #58
beep boop! sorry to revive, but! can we split the name and realm into separate copies, as i did not expect this issue to be starting to pop up (the dash gets removed in wow)

![Screenshot_1270](https://user-images.githubusercontent.com/77886383/107817868-00fc4280-6d77-11eb-8ace-1db61b346408.png)

[2021-02-12 20:18] Bgabor997 commented on #58
clicking on name will copy only name, clicking on realm copy both, is this okay?

[2021-02-12 20:23] TheAmazingTyr commented on #58
would do great, though it might get unintuitive a little, if so can you make the entire name size a few font sizes larger

[2021-02-12 20:24] Bgabor997 commented on #58
okay, will add that too

[2021-02-12 21:42] TheAmazingTyr commented on #100
duplicate of #62

[2021-02-12 22:44] Fakevox commented on #100
Hodor.

[2021-02-12 22:44] #100 closed

[2021-02-13 00:09] TheAmazingTyr commented on #71
![Screenshot_1271](https://user-images.githubusercontent.com/77886383/107834910-0027d880-6d98-11eb-98e3-865ec6093565.png)
![Screenshot_1272](https://user-images.githubusercontent.com/77886383/107834913-01590580-6d98-11eb-9359-0001bd413c0c.png)
![Screenshot_1273](https://user-images.githubusercontent.com/77886383/107834914-01590580-6d98-11eb-80b3-287cdc0833ca.png)

The undefined button is present,

[2021-02-13 00:28] #78 closed

[2021-02-13 00:29] #97 closed

[2021-02-13 00:58] IndigoICC commented on #98
Ticket Application work has been started - ///Discohook

[2021-02-13 16:20] #85 closed

[2021-02-13 16:22] iElsha commented on #58
Like wow remove the "-" between name-realm?

[2021-02-13 16:34] TheAmazingTyr commented on #58
yes, that is exactly what happens when the name+realm is too long. dont ask mewhy, i dont know

[2021-02-13 17:01] Bgabor997 commented on #58
It removes it if you are on the same realm

[2021-02-13 17:57] iElsha commented on #58
Ok what if you copy `/w elsha-draenor ` with an extra ' ' at the end?

[2021-02-13 18:59] Fakevox opened #101 "Update the function of "Copy Customer Name""
When clicking the customer name have it also include and copy a message.

"/w Name-realm Message"

This saves us time in writing or copy pasting messages and means we all use the same professional message etc.

For Example Dejnaa uses "Hello my friend! I am the gold collector for todays boost - I am just checking that you are online - you will be invited shortly."

You could also have this message

[2021-02-13 21:10] TheAmazingTyr commented on #101
overcomplicating merger of #58 and #60 , would overload the amount of buttons on each card, wouldn't it be easier to just type /w, paste name, say hi, open next chat box, copy down your introduction from intro note of #60 and go that way?
remember that we're not using the name copy just as a way to whisper people, but also to place them in our personal sheets, or passign names to guilds who dont w

[2021-02-13 21:13] TheAmazingTyr opened #102 "Suggestion: Add "Balance" realm if boost is getting paid with balance."
Newly, it's sheerly the GC's job to fix balances. i tend to miss them and then ask the advs for the gold. while yes i am a pepeja, the above could be decently good? maybe not implement it as a payment realm within dropdown menu, isntead have a checkbox next to payment realm which will be exclusive with each other.

[2021-02-13 22:18] Choppaaz commented on #59
Let me explain their request @iElsha :
![image](https://user-images.githubusercontent.com/77581204/107863023-0b473b00-6e62-11eb-8faf-fcfc47df8aea.png)
![image](https://user-images.githubusercontent.com/77581204/107863089-6ed16880-6e62-11eb-93c5-ab073a4ca9c8.png)
Where the Yellow gold is the deposit with advertiser, will make it much easier for GC to track what to collect

[2021-02-13 22:28] TheAmazingTyr commented on #59
I personally hold a high prefference for simplicity and speed's sake to have that as a button on the card, not just on the edit screen.

In choppa's design, i'd have the grey number represent the amount that is present on GC's char, red would be to collect from buyer, and yellow the deposit on the advertiser

Additionally, two buttons which would add their respective values to the value of the gre

[2021-02-13 23:19] Fakevox commented on #101
Let's take a step back then and see if there's a way to remove the requirement for a spreadsheet of your own. :)

[2021-02-13 23:22] Fakevox commented on #101
E.g. the Version 3.0 of the website did the following.

You could login to your own GC page and see all your outstanding collections across all raids etc.
You could sort by realm/advertiser/date
It would also total on realm by advertiser. E.g. Certificate owes me 500k for runs X Y Z and James owes me 250k for A and B.

[2021-02-15 13:46] iElsha commented on #59
It's QoL improvements with a very low prio'. Won't fix for now.

[2021-02-15 13:54] iElsha commented on #63
Let's use adv & GC note for now - I understand the purpose but low prio and won't be fixed atm

[2021-02-15 18:03] Fakevox commented on #64
This needs to be raised in priority as it would legit make the gold collectors job so much easier and reduce any errors.

After a raid is marked as gold mailing we could have the filters to sort by

Advertiser
Realm
Uncollected
Unsent

Would legit make the difference of Night and Day?

[2021-02-15 18:07] Fakevox opened #103 "Have all advertisers do !Pset and have a pseudo name removing the -realm of their name."
One of the problems I'm having whilst doing the mailing of gold is that You constantly see the name-realm of the advertiser straight above the customer. From time to time this has caught me off guard and resulted in a boo boo.

If we make them all have the Pseudo name like Sefildh has here for example, it would remove the opportunity for this to happen.

![image](https://user-images.githubusercont

[2021-02-16 13:31] Dejnaa commented on #81
Hey! This do not happen anymore, thank you :)

[2021-02-16 13:36] Wanhedaa commented on #81
@iElsha

i had the same problem - at advertising panel - yesterday, after 20 min it just kicked me and wanted the authentication again. After i clicked on everything, it took me back to the homepage, and had to find the raid what i was waiting for

[2021-02-16 16:16] Fakevox commented on #81
Can also confirm was happening to me during my last curve shift.

[2021-02-17 07:35] iElsha commented on #81
We need the error message in the toast on the bottom if possible, will be easier for us

[2021-02-17 07:36] iElsha commented on #64
Filters are not in the current plan even more on GC side but might come one day

[2021-02-17 07:37] iElsha commented on #103
Can you open it there: https://github.com/Icecrown-Community/Icecrown-Precious-Bot-Public/issues
Then close here pls

[2021-02-17 08:22] iElsha commented on #26
First step:
Raid leader start button under creating the roster
--> Sends global message in the channel.
--> Sends the list of boosters to the RL in DM

@IndigoICC

Second step:

Reaction ✔️ by booster and sent to the website.

Careful on GCP duplicate instance @iElsha
![image](https://user-images.githubusercontent.com/38140638/108175964-ad388300-7101-11eb-8573-812568d55661.png)

[2021-02-17 08:46] iElsha opened #104 "Update copyright to 2021"
![image](https://user-images.githubusercontent.com/38140638/108178698-06ee7c80-7105-11eb-9818-dc3c0196b3f5.png)

[2021-02-17 08:47] iElsha opened #105 "Remove warning message"
Comment this part of the code
![image](https://user-images.githubusercontent.com/38140638/108178760-1968b600-7105-11eb-98df-ac67c52298ef.png)

[2021-02-17 10:04] Fakevox commented on #81
Something about JSON from recollection will screenshot next time.

[2021-02-20 22:38] IndigoICC opened #106 "Booster sign-up note"
It would be amazing if boosters, who sign up, had the ability to add a note for the raid leader - "I'm unsaved/saved". This will save time for the Raid Leader when looking for VIP traders.
https://gyazo.com/d48170fb6e798ad16657a6ad522a78ee

[2021-02-21 12:51] Wanhedaa commented on #81
@iElsha
![image](https://user-images.githubusercontent.com/77633500/108625576-f2371f00-744b-11eb-9773-f4a305cd4ba4.png)

[2021-02-22 07:44] Fakevox commented on #81
Can confirm this is also the message I regularly see.

[2021-02-23 09:44] Wanhedaa opened #107 "RL view - Can't edit anything as Gold Collector"
![image](https://user-images.githubusercontent.com/77633500/108825189-02253f00-75c3-11eb-9630-0cccb5c0b8cd.png)

I can't edit anything after it is set from the "running" phase to the "RL view" phase.

This isn't a big deal, unless an overbook happens. For example, one night the curve run was already overbooked about 1.5 hours before the end of the raid, the raid leader changed the status to "**_RL

[2021-02-23 12:25] #98 closed

[2021-02-23 15:30] Wanhedaa commented on #81
![image](https://user-images.githubusercontent.com/77633500/108866357-6e6c6680-75f4-11eb-912f-ee08533c5b3d.png)
Another one, i just got dropped from the web while doing curve collection

[2021-02-25 09:24] #77 closed

[2021-02-26 10:40] #105 closed

[2021-02-26 10:41] #104 closed

[2021-02-27 10:24] iElsha commented on #58
update @Bgabor997 ?

[2021-03-02 02:15] TheAmazingTyr commented on #58
sorry i forgot to reply, no the space does not solve the issue as far as i know. the wow chat client attempts to shorten the string by cutting down on "empty" characters. thats hwy the issue is created

[2021-03-08 12:06] Fakevox commented on #103
I can when I see it 3 weeks later KEKW

[2021-03-08 12:06] #103 closed

[2021-03-09 15:20] Spillis opened #108 "Timestamps"
A way to track and look up when someone added a customer. Currently there seemse to be no way to know who out of 40938 adverts fucked up and over booked making it imposible for me to talk with that person and looking what's up.

[2021-03-09 15:21] Bgabor997 commented on #108
@iElsha can we maybe add a simple timestamp at the footer of the booking, i think its about 10-15min and would help a lot to Gold Collectors and Advertisers

[2021-03-09 17:11] Winchester-Icc commented on #108
As the curve is over, or full rather, Im coming to bring this exact topic as it's hotter than our hot deals. I had something else in mind which is way more complicated to implement anyway, but simple timestamp will do the job. As a GC sometimes I have to push people back in next run due to overbooking and I don't really know every time who's been booked last as customers are pepega and eat up almo

[2021-03-10 22:08] IndigoICC commented on #106
Giving this a bump

[2021-03-11 13:13] ICCDesi commented on #106
@Bgabor997 can maybe do this quick?

[2021-03-16 12:15] Wanhedaa opened #109 "Suggestion: Add the "main realm" next to the customer's realm"
![image](https://user-images.githubusercontent.com/77633500/111307077-456e4d00-8659-11eb-917c-0f457be3847a.png)

If we have a customer from some demon realm, it would be much easier, if we don't have to search for the realm on the sheet - Especially at curve collections. I started to edit the payment realm to the main realm, so if i check for the realms while sending the gold, i know, that the "ma

[2021-03-22 08:24] #106 closed

[2021-03-24 17:27] Dejnaa opened #110 "Advertiser cut in raids"
Last week I had 4 people asking me if they can give away their cut to give their customer a lower price - for Raids.

This made it a bit difficult, as in order for the raiders and the advertiser to get the correct cut we have to add the gross price to the raidbooking, and then know that the buyer is supposed to pay the nett amount (-adv share) - send in less then the booking says and Indigo needs

[2021-03-25 13:42] iElsha commented on #110
Yes but in the future

[2021-03-25 14:58] IndigoICC opened #111 "Creating raids without RL/GC"
In order to create a raid via the website; there has be to an assigned Raid Leader and Gold Collector. I would like for this to be optional; with the aim of getting boosters signed up ASAP.

Obviously the RL/GC would be assigned before the run is supposed to start; which would be done via the 'Edit' function.

[2021-03-30 09:29] Dejnaa commented on #102
Elsha, would this be hard to implement rather sooner then later? It is not suposed to have any "different" function then other realms, only show on booking its balance so adv/GC/RL sees it

[2021-04-07 11:58] Dejnaa opened #112 ""Full raid""
Can we get a Check box for the Raidlead to check when the raid is fully booked (they dont want more blablabla) cause we have multiple times tried to get customers for mythic raids, that turns pout to be full but are still on website as they didnt inform Suzu about it or Suzu was not around to remove it at that time.

Could look something like this:

![image](https://user-images.githubusercontent.c

[2021-04-08 16:27] Dejnaa opened #113 "What bosses the raid offers and how many - Visialisation"
Hey - Mythic raid and you see no info unless you click booking and then see:

![image](https://user-images.githubusercontent.com/77668716/114061363-a541c780-9896-11eb-8897-5a94af925da5.png)

This is shit. Pardon my french - I dont mean the website ofc, I mean the way the information is lacking.

Solution:
Put the bosses on the top part and show how many the raid offers - let it also deduct the bos

[2021-04-08 16:38] Dejnaa commented on #108
Yes please

[2021-04-08 18:44] Papa2324 commented on #113
Hey, I've opened this issue days and days ago in the council section - change is coming soonTM :)

[2021-04-08 18:48] ICCDesi commented on #113
@iElsha :)

[2021-04-09 10:50] Dejnaa commented on #113
Yes please, this is really needed.....

If Elsha also can make so you cant book a particular boss if the count is 0 then overbooking in HC/Mythic would be non-existant
Only issue left would be curve (thats for another day I guess)

[2021-04-09 18:44] Papa2324 commented on #102
* Papa added the **Urgent** label *

[2021-04-10 11:22] Dejnaa commented on #72
If wont fix please close ticket

[2021-04-10 13:26] #72 closed

[2021-04-10 16:12] Dejnaa commented on #81
Elsha, I still get this, but much less frequent.
![image](https://user-images.githubusercontent.com/77668716/114276686-0b118900-9a28-11eb-9895-d77c6125ba70.png)

Last times I have noticed it happens when the time is past the raidtime
Could be that the RL did change the status of the raid aswell - so that might help you recreate the "issue"

[2021-04-12 15:37] iElsha commented on #113
**Advertiser view**
![image](https://user-images.githubusercontent.com/38140638/114421505-a7b56180-9bb5-11eb-9c07-c6178b2b6d82.png)

**RL & GL view**
https://user-images.githubusercontent.com/38140638/114421554-b56ae700-9bb5-11eb-859a-2b2364f952f6.mp4

[2021-04-13 07:11] iElsha commented on #113
We might change the red color, other than that it's :ok:

Do we also need this for Heroic raids @Icecrown-Community/icc-raid

[2021-04-13 07:13] iElsha commented on #108
I am not sure we need timestamp as they are already ordered from older (updated or not) to most recent

[2021-04-13 07:14] iElsha commented on #111
For simplicity purposes, we'll use @precious for the moment that won't be worked regarding the prior list

[2021-04-13 07:16] iElsha commented on #81
We have someone on this. In the meantime, I've extended the auth max-age to 14 days instead of 3 days.

[2021-04-13 07:16] Bgabor997 commented on #108
for curve shifts we reorder it, we sort it by the booking's time, and the timestamps would be usefull to know which advertiser overbooked, and we need to move that booking

I have this too in the stash i mentioned u, it was 2 minutes

[2021-04-13 07:29] iElsha commented on #108
![image](https://user-images.githubusercontent.com/38140638/114513581-a1b59400-9c3a-11eb-9a89-b0ea3afcffae.png)

This is how the sorting works and as show we don't need a timestamp as the position of the bookings will be :
- Shiffted -> Sort by Shift, present oldest (of this shift) to most recent (of this shift) and this for each shift
- Non Shiffted -> No sort, it's displayed oldest to most recen

[2021-04-13 07:30] #108 closed

[2021-04-13 07:31] iElsha commented on #102
@Papa2324 automatic deduction will not be done.

[2021-04-13 09:59] Wanhedaa commented on #108
At curve runs we have to do like this:

xx:00 /xx:30 - > SLG/SLG + sire
xx:15 / xx:45 - > Sire only

It helps us to inform the customer correctly, we GC-s can see cleaner who we need to invite. But due to the slg+sire and sire are at 2 different time, we need timestamp on it to know, if someone ninja booked an slg+ sire customer, or the sire was overbooking.

It's a really old problem, and it's ha

[2021-04-13 10:56] ICCDesi commented on #113
Can be helpful for heroic as well. Since you're doing it, might as well implement it there.

[2021-04-13 10:58] IndigoICC commented on #113
I don't see a point of not having it; even if we aren't going to use it for Heroic right away. Heroic is incredibly dynamic; so there isn't really a "cap" per say.

[2021-04-13 14:17] TheAmazingTyr commented on #102
it's not supposed to auto-substract, it's just clarity for GCs and banking.

[2021-04-14 15:19] iElsha commented on #113
We'll allow heroic for next tier, it's not a lot of code to change for this and disable when we don't need it anymore

[2021-04-14 15:22] iElsha commented on #113
Implemented

[2021-04-14 15:22] #113 closed

[2021-04-14 15:23] iElsha commented on #102
Implemented

[2021-04-14 15:23] #102 closed

[2021-04-17 09:44] DruidEmmaNielsen commented on #76
Aight so I just figured we use github and wanted to share my opinions of this matter too.

The GC/RL name is name we use on ICC Server, it is not the name they use on Discord.

Perfect example would be Winchester, who is Winchester on ICC Servers but has a Discord account of "Evil"
so far i've not had issues finding him but when I have to dm raid leaders such as "Imahottie"  i have now figured out

[2021-04-17 10:58] Wanhedaa commented on #76
We have a guild representatives channel where you can find every representative if it doesnt show up with searching on them. Else if you type the in game name, it should also show up.

The idea is great, i'd like to take it also, but even if you copy his name, and you never talked with him in the past few days, it will not show up :)

[2021-04-18 12:12] Winchester-Icc commented on #76
I had trouble finding the guild representatives channel the other day, as I was in real hurry, took me 5+ minutes. It didn't show up in the search when I searched for it, nothing came up. Also trying to tag people in public chat (which I do even as raid leader when I need to invite/tag boosters I've picked for the raid, their name doesn't always show up until you spell it all the way, and some cha

[2021-04-19 12:34] TheAmazingTyr commented on #58
Any intent with this interaction bug, or just leaving it as-is? if so, pls close <3

[2021-04-22 15:56] Tueri opened #114 "Post message to an announcement channel when a RL amends booking quantities/VIPs"
As per the title, it would be handy for the advertisers to know immediately when a raid booking changes - reduction in boss amount or VIP availability instantly feeding to a channel would ease the need to refresh/check so often.

[2021-04-24 16:04] DruidEmmaNielsen opened #115 "Suggestion - Data Copy Paste from Bookings!"
So I have had moments where The GC ran into issues with a client, and they ended up deleting the client's order, for various reason.
Client then stops afk, or something 3rd, where they are then viable again, and wish to proceed with a 2nd booking.

or another scenario, where a client is booked for a raid, but they find out something happens and they no longer can raid that afternoon and wishes to

[2021-04-25 06:13] ICCDesi commented on #115
That is very low priority improvement for the moment. I will keep the topic open and we will maybe implement it at some point in the future.

[2021-04-25 16:58] IndigoICC commented on #74
Bump

We had FEW(!) cases of over-picking boosters :P

It's a minor thing and can be combated by a double check.

[2021-04-28 00:52] IndigoICC opened #116 "Copy boosters name-realm"
Much like the <Copy-click> names of the customers, we would have this tech added to the booster sign-ups. Not high in priority, but would be a quality of life change for Raid Leaders when making VIP lists.

[2021-05-02 16:39] Dejnaa opened #117 "Sends you to bottom of list"
If you open a raid, and scroll down and then click Back it sends you to the bottom of the website (with all raid and dates).

Its really annoying. Especially in the start of a new month where we have all raids set up.

Can this be changed to that it gets you back to where you were before you clicked the specific raid?

[2021-05-02 17:47] Wanhedaa opened #118 "Refresh the web after booking"
We can't get a "live refresh" for the web, but can we get a refresh after the booking?

So basically the web would be updated right after you klick on "book". Its almost a live refresh. Would be helpfull for the advertisers, who book a client at the same time with an another advertiser, because they are arguing with the GC-s about who was the first. They could check themselves after each booking,

[2021-05-04 12:51] Dejnaa commented on #112
This would be very helpful, there is litterly raids every day that could be marked as fully booked so we dont have to go in and check manually each time

[2021-05-04 12:54] Dejnaa commented on #118
+1

[2021-05-04 12:55] Dejnaa commented on #116
+1

[2021-05-04 12:57] Dejnaa commented on #109
+10000000

[2021-05-04 12:57] Dejnaa commented on #107
+1000000

[2021-05-04 13:03] Dejnaa commented on #76
I have issues with contacting the guild reps EVERY time.
Its like I wrote in the top. We have such a sexy Customer name copy - can we please have the same for the Raidlead and GC?

[2021-05-05 15:19] iElsha commented on #116
Implemented by @Bgabor997 will be deployed in the upcoming days

[2021-05-05 15:20] #116 closed

[2021-05-18 08:32] DruidEmmaNielsen opened #120 ""Spec" Options on Website, when booking VIP's"
Wanted Change:  an additional booking field called "VIP Specialization" with the 4x options of "Melee, Healer, Tank, Ranged DPS" Preferably "must be filled" if VIP count is more than 0.

The Issue: Each In-House Heroic Raids especially, and future In-House Mythic raids probably. There is a Discussion phase ONCE all Boosters + Clients joined raid. which means we are nearing our official raid start

[2021-05-18 10:09] Dejnaa commented on #120
As a quick-fix solution we can ask all Advertisers to write in the note:
- Specc requested
- Item requested
- If they want different speccs on different bosses.

Yesterdays raid I left this note after talking to raidlead:

"4x leather VIPs, 1 Tank Trinket VIP"
The reason I didnt write 4x Boomkin VIPs is cause there was none left, so I could take any leather class :)
I also told the raidlead that i

[2021-06-01 14:16] Dejnaa commented on #109
So do we want to do this, or is it a no? If its a no then we could close the ticket

[2021-06-01 17:13] ICCDesi commented on #109
There are already more than 2 sources for such matters. We use experienced collectors for curves hence you probably know already the main servers.

It will also confuse others.

I am closing this as we can implement this feature into the addon we currently working on.

[2021-06-01 18:16] ICCDesi commented on #71
Is still still a thing? I never saw it for a long time.

If not we will close the issue.

[2021-06-01 18:27] #58 closed

[2021-06-05 22:46] Dejnaa commented on #31
@iElsha

No responce on this - still see boosters as GC, is it necessary?

[2021-06-05 22:54] Dejnaa commented on #33
Did we get anywhere with this?
Such wonderful designs just getting forgotten - clean and minimalistic

But also like mentioned above in one of my posts, to put the "guild", run type and time on 3 different rows

Currently:
![image](https://user-images.githubusercontent.com/77668716/120907413-6d21ef80-c661-11eb-9622-8797f8205b7e.png)

It dont even fit the whole text. We could also add "end time" fo

[2021-06-05 22:55] Dejnaa commented on #34
This can be closed - you made such an beautiful solution already:

![image](https://user-images.githubusercontent.com/77668716/120907456-dbff4880-c661-11eb-8b71-97292e60244b.png)

[2021-06-05 23:01] Dejnaa commented on #35
This would be gold - save so many overbookings and DMs asking "Can I book this"
For this to be 100% perfect, would be nice if raidlead could tick each time slot at "pulled" so they are not available to be booked anymore. This would help f ex when we have shift run and dont have full customers, sometimes adv books when we have allready pulled - they are not on voice with us to know that we pulled 3

[2021-06-05 23:06] Wanhedaa commented on #35
The assigned gc should be able to do that on curves, as the raidleader has better thing to do that time. But sounds interesting, i love the idea

[2021-06-05 23:09] Dejnaa commented on #53
I would say that I would not want this.

Daily focus is there to help adv focus on the correct things - imagine getting 7 pings cause we havnt filled all Mythic raids

Its better if the adv manager (me in this case) does 1 extra ping later in the day if its needed to get some action into the advs

I would say you can close this ticket

[2021-06-05 23:12] Dejnaa commented on #54
Do we feel like this is needed?

Advertisers are coached in the use of the the website.
GoldCollectors also get coached
Boosters I assume dont have that much to do except sign up/off?

For the purpose of having a guide for Boosters (if deemed needed) I could make a short one, would just need to get booster roles so I can see their section and do a mockup signup on the september raid.

[2021-06-05 23:19] Dejnaa commented on #56
Dont know if we want - but maybe we should add the name of the alts somewhere? Could be our personal website settings

For Example, discord: Dejnaa [Adv manager] - ingame: Iccgcdejnaa
From what i know the gold collectors name their alts the same on each realm?

So in the discord message it could link the discord tagg like it does, but instead of writing Discord name, to write the submitted alt nam

[2021-06-05 23:27] Dejnaa commented on #59
Hey, in a different thread i made a suggestion for solving the payments being on different realms
Think if we add the GC section of collection it would really simplify to see what was collected by GC and what was collected by Adv

![image](https://user-images.githubusercontent.com/77668716/120907903-d6a3fd00-c665-11eb-9cf4-c0a26ce997e0.png)

On the card itself you could put that it shows the adv d

[2021-06-05 23:31] Dejnaa commented on #60
Hmm, if we could create a "signature" like setting on the website, then we could save our own text we wish to send to the customers - and then only 1-2 buttons could be added in the GC view for copy (like we have with the customer names)

Would this be "hard" to set up?

[2021-06-05 23:35] Dejnaa commented on #62
The list of realms do not update that often, so if you could put the data in 1 time, it could display the "correct realm" next to "payment realm". For example:  (only in GC view)

![image](https://user-images.githubusercontent.com/77668716/120908111-74e49280-c667-11eb-9c4a-a88b8798370b.png)

[2021-06-05 23:40] Dejnaa commented on #64
Would it be possible to make the GoldMailing "window" organise the tickets after advertiser name in alphabetic order?
Think that would be most useful for curve runs so you see right away how many customers/realms you need to collect from the same person. Atm I do a CTRL+F to search for adv name to manually count what I need on each realm from them and then contact them

[2021-06-05 23:43] Dejnaa commented on #67
Same here, I do CTRL+F to search for a realm to make sure I send all gold with the correct Run IDs

If possible would be great if there was 1 button (All gold collected) that then organises all customers after payment realm (Goldmailing mode).

[2021-06-05 23:47] Dejnaa commented on #76
I think someone told me this was in the making, but its still not live - will we have it with the next "patch" of the website?
It would help all advertisers that are trying to get a hold of RL or GC - which is often

Also, if we are at it, we could add it to adv names on the tickets aswell - to make it faster for GC's to message them about the gold collections.

[2021-06-05 23:48] Dejnaa commented on #81
I have not had any issues with this for a while now - should I close this ticket? :)

[2021-06-05 23:52] Dejnaa commented on #107
I think this is just a permission thing? Can we make so GCs can still edit the bookings in RL view (step before GoldMailing).
THey would do it after the raidlead put it to RL view so advertisers cant book anything else - while the GC normally is still updating the notes, gold collected ect

[2021-06-05 23:55] Dejnaa commented on #111
I guess this is fixed in a way?

[2021-06-05 23:55] IndigoICC commented on #111
We're using Precious as an assigned RL/GC for the time being

[2021-06-05 23:56] Dejnaa commented on #112
Yes? No? Maybe? Its just a semi transparent text over the event that required 1 tickbox

[2021-06-05 23:57] Wanhedaa commented on #81
I'm still using it on every day due to curves, and i still get ejected with the same error. Don't close it yet.

[2021-06-05 23:59] Dejnaa commented on #117
Is it possible to fix this?

[2021-06-06 00:01] Dejnaa commented on #118
This would be very helpful, and I dont think it requires a lot of coding to make the button also F5?

[2021-06-06 00:02] Dejnaa commented on #120
@DruidEmmaNielsen did you see above?

[2021-06-06 04:32] DruidEmmaNielsen commented on #120
Yes, read your reply the day you wrote it, but it says "we can ask"  and isn't a "we will ask" yet (:

[2021-06-06 11:49] ICCDesi commented on #112
It can be done automatically. Not sure when this can be done.

I'm keeping the issue open.

[2021-06-06 11:50] #111 closed

[2021-06-06 11:55] ICCDesi commented on #107
The raid shouldn't go in "RL" phase unless the gold collector approved it.

There is nothing to be fixed here as the solution is already there.

[2021-06-06 11:55] #107 closed

[2021-06-06 12:08] ICCDesi commented on #67
This can be done once the raid is in "GC" Phase as Choppa said already.

Added Labels & assigned it to the project.

[2021-06-06 12:15] ICCDesi commented on #64
This should merged together with #67 since its going to be,

### Order by:
- Payment Realm
  - Collected
  - Un-collected

[2021-06-06 12:27] ICCDesi commented on #60
I will close this issue since we have different plans for this one.

[2021-06-06 12:27] #60 closed

[2021-06-06 12:34] ICCDesi commented on #54
We could add this in the footer of the website.

[2021-06-06 12:35] #53 closed

[2021-06-06 12:38] #34 closed

[2021-06-07 09:59] ICCDesi commented on #118
We know that the fact that it doesn't refresh auto its painful. We discussed about it plenty of times in our meetings.

There is a plan for this to make it refreshing in near real time and/or add the button in another topic.

[2021-06-07 09:59] #118 closed

[2021-06-07 10:01] ICCDesi commented on #117
Low priority but I guess it can be done with:

[2021-06-07 10:07] ICCDesi commented on #101
I am closing this since it's a feature that we plan for the Addon we are currently working on.

Good suggestion though.

[2021-06-07 10:07] #101 closed

[2021-06-07 10:15] #71 closed

[2021-06-12 08:47] iElsha opened #121 "Migrate from Axios to fetch"
The M+ form uses axios to make the request that is not used anywhere else, we should use the default fetch instead as done in the API library

[2021-06-12 08:52] #121 closed, assigned to nobody

[2021-06-15 11:46] Hurstilol opened #122 "List of synced Boosters"
Would be nice to have a list of boosters with informations like discordtag/classes/chars/wcllinks/r.iolinks/etc so in case we need specific classes or anything we are able to adress them in dm instead of having to ping the entire section for a specific class or anything.

[2021-06-15 16:53] ICCDesi commented on #122
At the moment we have 1.2k people with the `Horde Raider` rank.

Is your request a full list of all of them with their info?

[2021-06-21 15:07] Teleena opened #147 "Adv Training feature for the new M+ Website Integration"
Title. Trainee advertisers will need some way to practice with the new website-oriented M+. Can we have a training category baked in, or something to that effect?

[2021-06-21 15:22] Wanhedaa commented on #81
![image](https://user-images.githubusercontent.com/77633500/122787010-2fee6c00-d2b5-11eb-89d8-c063edac922c.png)
I'm still getting ejected from the web while doing curve collectings, today it did 2  times in 2 hours.

[2021-06-22 23:24] Bgabor997 opened #123 "Mythic + form responsive errors"
![image](https://user-images.githubusercontent.com/25648979/123011892-8d6fdf00-d3c1-11eb-8db7-f68f47141d60.png)
low prio i guess, but nice to have, bcs a few adv will use it from phone.

only wrong on screen, width < 600

[2021-06-24 10:58] Dejnaa commented on #76
@Bgabor997 Thank you for this, you are an angle <3

[2021-06-24 10:58] #76 closed

[2021-06-24 10:59] Dejnaa commented on #33
@Bgabor997 @momos-icc Thank you for this <3 <3 <3

[2021-06-24 10:59] #33 closed

[2021-06-30 19:54] iElsha commented on #147
1. Will be on a test discord, different than leaders & member one.
2. Will be the exact replica of the bot

Scoped to 2 hours for me & 2 hours for Tueri

[2021-06-30 21:02] iElsha commented on #73
@IndigoICC will make an improvement request for Gluth messages

[2021-06-30 21:02] #73 closed

[2021-06-30 21:03] iElsha commented on #74
Fixed

[2021-06-30 21:03] #74 closed

[2021-06-30 21:04] iElsha commented on #84
Style feature, a toggle button to activate ICC website in "Compact Theme"

[2021-06-30 21:09] #114 closed

[2021-06-30 21:11] iElsha commented on #115
Button to move a customer from one raid to another for rescheduling

[2021-06-30 21:13] iElsha commented on #117
Enable scrolling to top when moving to another page

[2021-06-30 21:14] iElsha commented on #120
@Bgabor997 how much hour can it take?

[2021-06-30 21:16] iElsha commented on #35
Blocked by lake of real time data

[2021-06-30 21:16] #32 closed

[2021-06-30 21:22] #8 closed

[2021-06-30 21:24] #4 closed

[2021-06-30 21:25] iElsha commented on #2
Needs to improve performances and reduce time to 500ms MAX

[2021-06-30 21:30] iElsha commented on #54
A new section for guides with quick links or slide embeds

[2021-06-30 21:31] iElsha commented on #56
@IndigoICC rework

[2021-06-30 21:32] #56 closed

[2021-06-30 21:33] #59 closed

[2021-06-30 21:34] iElsha commented on #62
Waiting for Precious bank character feature

[2021-06-30 21:36] iElsha commented on #67
#84 duplicate

[2021-06-30 21:36] #67 closed

[2021-06-30 21:37] iElsha commented on #70
@Yoldrim reach @IndigoICC for more information if needed

[2021-06-30 21:38] iElsha opened #124 "Automatic balance deduction"
# Papa Feature 🎉
Will work with precious where the website musts sends a request and precious deduct it then confirm

[2021-06-30 21:41] Bgabor997 commented on #120
hmmm, so we just want to select it from "Melee, Healer, Tank, Ranged DPS", or we want an actuall spec select, what is almost done in another feature? bcs implementing that component for raid bookings, wouldn't take more than a hour or 2 i think

[2021-07-03 16:20] Wanhedaa opened #125 "raid deleted - no date shown"
I, personally have 5-6 curves /week (if not more) and if a raid is getting deleted, i don't know which one got.

I get this message from Gluth, but it informs me only about deleting, not about which one is getting deleted. Ofc i can ask indigo or  the raidleader which one is it, but i think it would be easier just edit the message with a date :D

Currently we get this:
![image](https://user-images

[2021-07-03 17:28] DruidEmmaNielsen commented on #125
I personally also had love to have an "Archieve" section.

So if a Raid gets deleted, or cancelled. we can view the raid under a different tab / direct link. -  This helps in few cases where one either is Gold Collector and did eairly collects, or just for overall having a better overview of the situation.

[2021-07-04 01:07] Wanhedaa commented on #81
update: We were watching the web with Moodwend together and we both got ejected at the same time. Maybe can be a helpfull info

[2021-07-04 11:03] iElsha opened #126 "Improve logging on the API side"

[2021-07-08 19:07] iElsha opened #127 "Inclusive wording"
## Feature

As part of continuous improvement, update messages to include both females and males members/customers by either:
- Using "he/she"
- Using "They"

## Task
- [ ] @iElsha gives strings to Tueri
- [ ] @Tueri makes the changes
- [ ] @iElsha update in code

[2021-07-08 19:15] iElsha commented on #147
## Tasks
- [x] @Tueri duplicate the server (non linked) and put the correct channel, roles, emojis there
- [x] @iElsha integrate it on the server
- [ ] @Icecrown-Community/icc-member-s-website-developers integrate it on website?

[2021-07-08 19:23] iElsha commented on #147
@Tueri see
https://discord.com/channels/755267851689918477/815699868601024543/862775459996893235

[2021-07-08 19:30] iElsha opened #128 "[Feature] Edit Payment Data for a run through a form"
## Feature
A new form allowing the advertiser to edit the payment data of a boost

## Use cases
Sometimes, customers (for RBG mainly), don't know where they're going to pay. Therefore the payment data put is a place holder for it. Regarding banking and accounting purposes, we need to know where the gold are.

## Solution
Do a new form using the PaymentData comonent and with an extra field correspo

[2021-07-08 19:58] FyneIcc opened #129 "[PvP] To fetch or not to fetch, that is the question."
First of all, thanks a lot for good job @iElsha , sorry for being difficult...

The only use case would be to simplify adv life, which is great but not a priority right now. If you can elaborate more, open an issue on <https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/>

I've made this list with the assumption that the client have not recently faction changed, renamed or anyth

[2021-07-09 22:02] Tueri commented on #147
<https://discord.gg/sAWn4CeN83>

Server templated, roles and permissions auto-copied, added bot emoji and cleaned the rest of the channels, should be ready for use.

[2021-07-11 04:29] FyneIcc opened #130 "Commas in pot for visual improvement"
![Screenshot_20210711-062829_Chrome](https://user-images.githubusercontent.com/77837483/125182804-54cd6380-e211-11eb-86f3-23caa230850e.jpg)

[2021-07-24 09:47] FyneIcc opened #131 "Capitalized letter"
Have website set normally capitalized to where check-pvp.fr actually works, advertisers more often than not forget to use ''shift'' while writing the name of client.

Example of Ohdear, he correctly wrote the name, but without being capitalized the check-pvp.fr link wont work.

![image](https://user-images.githubusercontent.com/77837483/126864687-3b800860-5fc2-4771-88e3-c3022661f5cc.png)
![image](

[2021-07-24 09:47] FyneIcc opened #146 "Capitalized letter"
Have website set normally capitalized to where check-pvp.fr actually works, advertisers more often than not forget to use ''shift'' while writing the name of client.

Example of Ohdear, he correctly wrote the name, but without being capitalized the check-pvp.fr link wont work.

![image](https://user-images.githubusercontent.com/77837483/126864687-3b800860-5fc2-4771-88e3-c3022661f5cc.png)
![image](

[2021-07-25 16:00] iElsha commented on #31
- [ ] Find the optimal solution (design documentation)
- [ ] Review it together
- [ ] Get approved by business
- [ ] implementing

[2021-07-29 12:32] Dejnaa commented on #112
We have a lot of events now each day, and more are coming, can we please get this?
It should not be to complicated to make (I have heard from a bird) and would help adv's not to have to click on each event over and over while looking for free spots

[2021-07-29 12:43] Efthymios-Papakostopoulos commented on #112
Let me try to push a bit for it ;)

Thanks for bumping it

[2021-07-29 17:07] Dejnaa opened #132 "Not bookable when 0/0"
Please make it not possible to book anything if the raid has 0/0 customers.

Thus would help when we have guilds like Meldteam that put up 100 raids per week and dont even know if they will be  boosting them until the day before.

[2021-07-29 17:13] Dejnaa opened #133 "Block "Delete booking" when within 2h of raidstart."
We have advertisers who delete their bookings if their customer is MIA or cancells in the last second.

We are suposed to collect a deposit for this but if the advertiser removes the booking we dont know who to take the deposit from.

If they cant cancel they will have to just edit the price to 10% of the original price that will be the deposit payment.

Therefor I would ask to block the delete bu

[2021-07-29 17:15] Dejnaa commented on #117
Is it possible to make it so if you press "back" it goes back to where you were and not top/bottom of the page?

Most websites has this

[2021-07-29 17:35] Wanhedaa commented on #133
i think 2 hours is much, anything can come up and we could get any other customer instead of his in like 30 mins. I like your idea, but with like 1 hour instead of 2

[2021-07-30 07:52] Dejnaa commented on #133
1h is fine aswell, I just said 2h as its reasonable to get a replacement within 2h - 1h can be a little short

[2021-08-02 12:47] Dejnaa opened #134 "Change to fixed timeslots and limited amount of customers (like for Mythic raid)"
We have a reoccuring issue of advertisers not knowing when to book their KT, Sylv, KT+Sylv. We had the same problem before with Nathria. My suggesstion is if we can program so you dont get to choose "any time" when you book to the shifts, but to have fixed spots - prefferable also with fixed amount of customers, so they can EASY book without being afraid to book to much.

Example - Now we have a "

[2021-08-02 13:00] Wanhedaa commented on #134
I'm pretty sure i suggested this already, but got closed. Let's hope they will do it this way tbh <3  Because waking up for 20 message about "please fix the bookings" is like a hell. Amazing idea pls do it <3

[2021-08-02 13:07] Dejnaa commented on #134
Oh and in case someone asks - I was NOT thinking the dropdown list should update in real time. Was thinking that when you open the booking page it will load the info about what slots are still not fully booked. If someone books while you are typing all info the time slot would of course not change. But then when you press book  thats when it checks if the spot is still available - and if not gives

[2021-08-03 12:08] Wanhedaa opened #135 "can't reach the customers"
As GC we can see, if the advertiser added the customer's discord tag, but unfortunatly if we are not in contact with the customer, we can't find him via the search system. We have to add him as friend and from "pending" press "message him". Can we find a solution, something similar like the GC / RL has? so it would show only in GC panel and only for GC-s. We click on his name (?) and then we can j

[2021-08-06 19:12] Dejnaa opened #136 "Last 2 - Normal or Heroic? (or Mythic down the line?)"
Could we make it so we can see a different between Normal Last 2 or Heroic Last 2 bosses? (later maybe also mythic?)

Please guess which ones are normal and which ones are heroic:

![image](https://user-images.githubusercontent.com/77668716/128560365-f8bd517f-e09f-498a-ae6a-2888dcea73a7.png)

[2021-08-06 19:13] Dejnaa commented on #112
Plis? I beg?

[2021-08-06 19:15] Dejnaa commented on #11
Can we please have this soon(ish)? Its getting more and more unbearable for a lot of people.

![image](https://user-images.githubusercontent.com/77668716/128560808-de9c39e4-1920-4246-a446-81120a78845e.png)

[2021-08-06 20:04] Efthymios-Papakostopoulos commented on #112
@Yoldrim :)

[2021-08-06 20:07] iElsha commented on #112
As I said on Discord there is a PR for this pending changes from Yoldrim - and we'll need the tests on it

[2021-08-07 17:01] Dejnaa commented on #110
Nobody has asked for this since that raid, so I am gonna assume that until further notice the interest is so low that it is irrelevant.
I will close this as we have more important topics to work on

[2021-08-07 17:01] #110 closed

[2021-08-07 17:03] Dejnaa commented on #64
The other one was closed, so I will be bold and rebump this one.
I made this post in January, is it reasonable to wish for it to be looked at "soonish"?
GoldCollectors struggle with this still EVERY curve shift.

[2021-08-07 17:19] Dejnaa commented on #147
@Teleena is this live? :)

[2021-08-07 17:30] Dejnaa commented on #6
This has been added for M+ and for PvP - can we copy it to the Raid booking screen? :)

[2021-08-07 17:43] Dejnaa commented on #36
Is this a soon tm?

[2021-08-07 18:38] iElsha commented on #36
This one is not in the plan for now

[2021-08-08 12:02] Wanhedaa commented on #108
![image](https://user-images.githubusercontent.com/77633500/128631260-4381f0a8-ebe0-4b0f-9f57-e6398ce44ad2.png)
it is still a problem. We had 6 sylvanas  booked while we take 5 and i don't know if the last 2 bosses or the last boss was booked later 🤷

[2021-08-08 13:12] disstressed commented on #108
Tbh the easiest solution would be adding 2 new componenents below the GC note,
one for booking created at : Gets server time , add's it down there when the new component is created for the booking
booking edited at : Don't think it's needed, but yea
It would still couse some issues due manually looking up the times, however, it's better then nothing.

[2021-08-08 13:16] Bgabor997 commented on #108
This is already done guys, but its not on the current prio list, btw its rdy to deploy.

[2021-08-08 14:13] Dejnaa commented on #132
Just make the book button non clickable if the customer amount is 0/0

(Curtesy to Highlife)

[2021-08-08 14:58] iElsha commented on #147
No we are waiting for website implementation then it goes live

[2021-08-13 19:47] IndigoICC opened #137 "Mandatory Note Field"
As VIPs will be extremely lucrative this tier compared to the last; we need the Mandatory function added to the booster note.

![image](https://user-images.githubusercontent.com/77749513/129411160-09abed6c-e801-458b-b7e8-1f6d6394faa4.png)

[2021-08-17 13:11] Dejnaa commented on #136
@Bgabor997  could this not be fixed by adding 1 new "Raid Service" to the Raid Settings?
Just cpoy the Last 2 - Call it Last 2 (NM)
Rename other Last 2 to Last 2 (HC)

Same everything else (cuts blablablabla)

Job done?

[2021-08-17 13:13] Bgabor997 commented on #136
hmmm, we still have normal last 2? o.O

[2021-08-17 13:21] Dejnaa commented on #112
When I see this ticket I get an anxiety attack...
I get the prio list and everything, but as mentioned if 1 day a month was used on these smaller things then maybe we would have a lot less on the list.
Imagine this request being from 7th April. and still not live and all we ask for is a **text over a picture** - not to change anything else in the raid settings.

[2021-08-17 13:21] Wanhedaa commented on #136
Alliance has it, but its most likely for the next season i guess.

[2021-08-17 13:21] Dejnaa commented on #136
Yes we have and we will have next season aswell

[2021-08-17 13:25] Dejnaa commented on #84
I am closing this one - THis was suposed to be a quality of life, but considering that other things with a higher Severity level also take 6 months + we always find new important things to focus on this will never happen. Just clutters the page.

[2021-08-17 13:25] #84 closed

[2021-08-17 13:34] Dejnaa commented on #133
@ICCDesi @Papa2324 @Tueri

Opinions?

[2021-08-17 13:39] Dejnaa commented on #125
We obviously have this working for the other type of messages from gluth, cant you just copy that code from them and insert into the Deleted Raid message? @iElsha

These have the dates in the end of the message:
Raid Approved
Raid Submitted
Raid GC changed
Booking Edited
Booking Deleted

This do not:
Raid Deleted

[2021-08-17 13:45] Efthymios-Papakostopoulos commented on #133
Not a bad idea at all. Sorry i might have missed this.

It is possible, i would like it and i would even suggest increasing that time frame

[2021-08-17 22:46] disstressed commented on #133
One hour is better, most of the time it's easy to find a last minute customer even in 30 minutes. However, wouldn't it cause an issue of "1 less customer that run, even with deposit", an advertiser  deleting the booking at least gives the other advertisers a chance to book someone, and in this case , they won't even probably be able to remove so keeping track of how many customer slots available m

[2021-08-17 22:49] disstressed opened #138 "Split Alliance / Horde on website"
Considering we are having more guilds/ raids and having meldteam before, it's really a hard time to keep track of what day has what raids, can we have it split or shown Horde only , ally only or both as it is now to make it easier on the eye?

[2021-08-18 06:48] Dejnaa commented on #120
We currently have this in PVP booking section, we would really just have to press what specc the person WANT loot for.
If they want different on different bosses that would need to be noted in NOTE anyway :)

@bgabor997

[2021-08-18 06:53] Bgabor997 commented on #120
yea, since we have the component already it would take max 1 hour **with tests**

[2021-08-18 06:54] Dejnaa commented on #120
@iElsha We await your approval Warchief

[2021-08-18 06:56] Dejnaa commented on #132
@Bgabor997 would this be much work?

[2021-08-18 06:58] Bgabor997 commented on #132
Nope, 30min, **with tests**

[2021-08-18 06:58] Dejnaa commented on #136
Nice Normal was just removed on pricelist this can wait till we start Season 3 - will reopen then

[2021-08-18 06:58] #136 closed, assigned to nobody

[2021-08-18 06:59] Dejnaa commented on #62
Do we really need this now when we got Zazus Addon?

[2021-08-18 07:00] Dejnaa commented on #138
THis is a duplicate.

Please see:

Raid display filter #11

[2021-08-18 07:02] Dejnaa commented on #134
@Bgabor997 what do you think about this?

[2021-08-18 07:06] Dejnaa commented on #146
@Bgabor997 should be possible to fix rather easy?

[2021-08-18 07:07] Bgabor997 commented on #134
The bigger thing here, is we have different times between KT - Sylvanas and Sylvanas KT, so we have to set each boss "duration" this will take 5-6 hours at least, with the testing

[2021-08-18 07:07] Bgabor997 commented on #146
Yes, around 5 minutes 😁

[2021-08-18 08:25] Dejnaa commented on #6
@Bgabor997 Can we?

[2021-08-18 08:26] Dejnaa commented on #11
@Bgabor997 Was this not already made and just needed testing?

[2021-08-18 08:27] Dejnaa commented on #43
@Bgabor997 I am not a booster so cant check, but I do get date and what it is on other messages - has this been done already or still in the pipeline?

[2021-08-18 08:29] Bgabor997 commented on #6
we can, but this is bigger work too, i would say 5-6 hour bcs i need to change the db structure, and the submit method for this, and need to extend tests, both front and backend

[2021-08-18 08:29] Dejnaa commented on #51
@Bgabor997 Could this be solved with a bin next to booster names? That will remove them from signed ups and send them a message that they are removed?

[2021-08-18 08:29] Bgabor997 commented on #11
exactly, i didn't had time for that tests yet

[2021-08-18 08:29] #138 closed, assigned to nobody

[2021-08-18 08:32] Dejnaa commented on #63
We have worked around this all this time and I dont feel like we need a no-show buttom. There is no GC that "would forget" that an unpaid customer didnt show up. Either the deposit was paid or it will be taken of the advertiser.

@Wanhedaa what you think?

[2021-08-18 08:33] Dejnaa commented on #70
Mr @Yoldrim any ETA on this?

[2021-08-18 08:35] Dejnaa commented on #112
Mr @Yoldrim did you already send everything for testing?

[2021-08-18 08:35] Bgabor997 commented on #70
I finished the testing for it yesterday

[2021-08-18 08:35] Dejnaa commented on #146
@iElsha Please approve

[2021-08-18 08:36] Dejnaa commented on #132
@iElsha Please approve

[2021-08-18 08:37] Dejnaa commented on #133
@Bgabor997 how long do you think this feature would take to make? If even possible?

[2021-08-18 08:38] Bgabor997 commented on #133
doable, ofc, i would say 1,5 hour with the tests

[2021-08-18 08:38] Dejnaa commented on #134
Sounds reasonable, is there anything I can do to help make the time less so that this could be upped on the "waitlist"? :)

[2021-08-18 08:40] Dejnaa commented on #137
@IndigoICC What would the purpose be of this note?
Would it be better if boosters had to press what specc they boost as on each char? (fex feral druid, holy pala ect)

[2021-08-18 09:00] Dejnaa commented on #133
@iElsha Please approve

[2021-08-18 09:01] Dejnaa commented on #70
@Bgabor997 Awesome, I can always count on you <3
So I assume this is now on Elshas table to go live when he is back from vacation?

[2021-08-18 09:52] Bgabor997 commented on #70
i can deploy if he approves

[2021-08-18 12:35] Dejnaa commented on #70
@iElsha Please approve

[2021-08-18 12:38] Dejnaa commented on #6
@Papa2324 Do you feel like this is something that should be bumped up on the priolist?

 (I have no access to that so I cant make any type of assessment)

[2021-08-18 13:22] Papa2324 commented on #6
nah, theres many other things id like to have before this one. unless it takes no time to do then sure

[2021-08-18 13:45] Highlifez opened #148 "Change M+ Default: "No specific key" to "Random key""
So currently "No specific key" apparently means the customer is fielding the key. And "Random key" means the boosters have to field one. As it currently stands, the customer rarely wants to do their own key, therefore "Random key" is the most used option and should be the default. Please change.

Also, maybe change "No specific key" to "Customers key", since per definition 'non specific' and 'rand

[2021-08-18 13:51] Wanhedaa commented on #148
I agree +1

[2021-08-21 17:28] #70 closed

[2021-08-25 19:25] iElsha commented on #132
Approving what?

[2021-08-25 19:25] iElsha commented on #120
Approving what?

[2021-08-25 19:25] iElsha commented on #146
Approving what?

[2021-08-25 19:26] iElsha commented on #70
Merged 4 days ago already

[2021-08-26 03:29] Dejnaa commented on #11
@Bgabor997 how much time you recon it would take to do all testing? :)

[2021-08-26 03:34] Dejnaa commented on #62
@Tueri @ICCDesi

What do you think?

[2021-08-26 03:36] Dejnaa commented on #64
@Bgabor997 any estimate how long it would take to have this?

[2021-08-26 03:38] Dejnaa commented on #112
@Bgabor997 estimate how much time needed to fix/test/ship?

[2021-08-26 03:39] Dejnaa commented on #117
@Bgabor997 do you know? Just checking and if its not possible I will just close the ticket

[2021-08-26 03:40] Dejnaa commented on #120
@iElsha Approving of Gabor putting 1h (inc tests) into getting this done and shipped.

[2021-08-26 03:41] Dejnaa commented on #125
@Bgabor997 Do you know an estimate to fix this?

[2021-08-26 03:43] Dejnaa commented on #123
@Bgabor997 estimate to get a fix for this? :)

[2021-08-26 03:46] Dejnaa commented on #130
@Bgabor997 estimate how much time this would take?

[2021-08-26 03:48] Dejnaa commented on #146
@iElsha if you would read 2 comments above you would see. This Issue can be fixed by 5 min of work according to Gabor, and since you need to approve work he is doing I asked you to approve him dealing with it.

[2021-08-26 03:49] Dejnaa commented on #132
@iElsha again, reading above 2 comments would answer your question and save both you and others time.

Acording to Gabor it would take 30min (inc tests) to get this issue done. As you gotta approve, I ask you to approve.

[2021-08-26 03:50] Dejnaa commented on #133
@iElsha This issue can be fixed by putting in 1,5h (inc tests) according to Gabor - please approve that he does this.

[2021-08-26 03:55] Dejnaa commented on #134
@ICCDesi @Tueri

What do you think? Considering any other projects going on right now (that I may not know about) would you say we would like this to be dealt with coming weeks? This would really help both in planing the boost (raidlead), booking the customers (adv) and to some degree also help GCs not having to reschedule and contact customers that are offline when raid is preforming bit better t

[2021-08-26 03:58] Dejnaa commented on #135
@Bgabor997 could you estimate how long it would take to copy the function from GC/RL and add it for GCs only on customer names? Instead of clicking the name (since that copys the name for faster whisper/invite ingame) could be a little envelope next to the name in GC window.

[2021-08-26 04:37] Dejnaa commented on #137
I asked Indigo in DMs since I dont know if he still has access here.

Point of this note is for raidleads to be able to have a clear vision which boosters can trade items, and not having to DM to ask boosters who have a blank note with each raid.

Would speed up the process of checking VIP availability based on signups - in future maybe that could also be integrated with a visible VIP count for ad

[2021-08-26 07:19] Bgabor997 commented on #62
I know its not me who u pinged :D but as a gc i don't think this is needed

[2021-08-26 07:38] Dejnaa commented on #45
@Bgabor997 how big project do you think this would be?

[2021-08-26 07:40] Dejnaa commented on #62
I agree, just wanted to see if the Big Heads saw any good in it before I asked that someone closes the ticket ^^

[2021-08-26 12:11] Efthymios-Papakostopoulos commented on #62
#109

[2021-08-26 17:28] iElsha commented on #11
@Bgabor997 I'm not sure if this could help but maybe https://material-ui.com/components/data-grid/filtering/
Otherwise a simple input form with selections could be enough

[2021-08-26 17:29] iElsha commented on #51
This features needs to be request by @Icecrown-Community/icc-raid team but the implementation isn't hard

[2021-08-26 17:30] iElsha commented on #117
Yes this is possible but need some works

[2021-08-26 17:32] iElsha commented on #120
That's more than one hours and Gabor's mostly free of handling websites requests based on priority - it's a SEV4 we mostly want SEV 1 -> SEV 2 -> SEV 3 to be handled before.
If this is a high priority and the severity is wrong we can increase/decrease it

[2021-08-26 17:36] iElsha commented on #125
30 minutes

[2021-08-26 17:37] Wanhedaa commented on #117
Can we also add a short button to scroll up on the web at bookings also? we have to check the available spot each curve, for that you have to scroll down. But to book it, you have to scroll up (i know we can use the original browser short scroll, but not everyone is a tech genious)

![image](https://user-images.githubusercontent.com/77633500/131009671-f55568b3-29f6-4f8a-913d-0d13e431e0dc.png)

[2021-08-26 18:05] DJDajn commented on #51
+1 from me, would be great to have the option there if it would be needed

[2021-08-26 18:20] Irahub commented on #51
Don't we have the permission to remove roles anyway?

26 Ağu 2021 Per 21:05 tarihinde DJDajn ***@***.***> şunu
yazdı:

[2021-08-26 18:23] DJDajn commented on #51
It's more if someone cant remove their sign up from a raid themselves (they cant access the website, error etc.) then we have the option to do so for them instead

[2021-08-26 18:28] iElsha commented on #51
Please let us know the "severity" of this feature - is it needed ASAP soon, one day...

[2021-08-26 22:39] DJDajn commented on #51
It's would just be a QOL thing imo, so would be 5
@Irahub, what do you say?

[2021-08-26 23:03] Papa2324 commented on #51
And while at it, enable the raid leader role to be able to book customers regardless of having the advertiser role or not :)

[2021-08-26 23:32] Papa2324 commented on #132
I approve :)

[2021-08-26 23:32] Papa2324 commented on #146
I approve :)

[2021-08-26 23:41] Papa2324 commented on #124
:pepegiggle:

[2021-08-27 21:26] Wanhedaa opened #139 "automate the note expand session"
Since we have the timestamps, it shows always that we have some note each bookings at curve.
![image](https://user-images.githubusercontent.com/77633500/131190152-c69888ba-22fc-4d90-9ec2-dddd5146fe5b.png)

Now i always open all of them before even start to collect, so i don't miss any interesting bookings like those:
![image](https://user-images.githubusercontent.com/77633500/131190270-4fd6b9dc-60

[2021-08-30 14:19] Choppaaz opened #140 "Bot dm assigned GC 30 min before raid"
We have seen some GCs forget the raids they are assigned for and that happens sometimes, and since GCs are related to the start of the raid I would suggest to let the bot dm the assigned GC 30 min before the raid to avoid GCs being late.

[2021-08-30 14:28] #140 closed, assigned to nobody

[2021-08-30 19:37] Suzaru commented on #24
We need a VIP system better than what we have at the moment. Experienced advertisers mentioned something [like this](https://i.imgur.com/bzsfITa.png)

[2021-08-30 19:38] Suzaru opened #141 "Customer count per boss feature in heroic (like we have on Mythic)"
Please introduce the customer counter we already have in mythic also to heroic. Especially in the beginning of the tier, super useful.

[Picture in case you don't know what I mean](https://i.imgur.com/0jnNsPt.png)

[2021-08-30 19:40] iElsha commented on #24
VIP systems has become really important, evenmore with the high number of raid. Our raid leaders and partners are struggling to communicate properly making us loose sales on this hence the severity increase.

[2021-08-30 19:41] iElsha commented on #141
See https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/113 & related PRs for more info

[2021-08-30 19:58] Suzaru commented on #24
Okay so, to refine the website and approach a v0.5 with the VIPs I suggest the following:

When creating/editing a raid you see [this line.](https://i.imgur.com/VvzsNSm.png) It is confusing and not enough. It can be removed fully.
A better approach is [this](https://i.imgur.com/KPx6r1E.png). Beneath the Armor Classes (Plate/Mail/Leather/Cloth) add all Classes in general with a counter. Then we giv

[2021-08-30 20:59] Suzaru commented on #11
Hey, I found a small bug. When you filtered for something specific (e.g. a guild) and then try to remove the filter, the website bugs out and leads you to the "Glitch" page.

I recorded it [here](https://i.imgur.com/MW3PwkU.gif)

[2021-08-31 05:30] Choppaaz opened #142 "Bot dm assigned GC 30 min before raid"
We have seen some GCs forget the raids they are assigned for and that happens sometimes, and since GCs are related to the start of the raid I would suggest to let the bot dm the assigned GC 30 min before the raid to avoid GCs being late.

[2021-08-31 22:30] Dejnaa commented on #125
@Papa2324 please add severity to this

[2021-08-31 22:47] Papa2324 commented on #125
@Bgabor997 Can you blast this quick when you find 20 30min? <3

[2021-08-31 23:06] Dejnaa commented on #146
@Papa2324  please add severity, from what I know gabor has already worked on this

[2021-08-31 23:09] Dejnaa commented on #137
@Papa2324 please add severity

[2021-08-31 23:11] Dejnaa commented on #132
@Papa2324 please add severity.

[2021-08-31 23:11] Dejnaa commented on #132
sorry, I mean upp the severity

[2021-08-31 23:14] Papa2324 commented on #146
If it's 5 minutes can we just blast it in? Like, these 5minute things dont even need to be here and discussed, approved and drooled over?
Severity 0 - "Just do it" *insert nike logo*

[2021-08-31 23:16] Papa2324 commented on #137
@Bgabor997 * another one * <3

[2021-08-31 23:18] Papa2324 commented on #132
@Bgabor997 I suppose we can add this to the basket :kekLeo:

[2021-09-01 05:41] iElsha commented on #132
I don't see the emergency point of this feature downgrading to 4

[2021-09-01 05:42] iElsha commented on #146
Not critical downgrading

[2021-09-01 17:06] nGabrr opened #143 "Warcraftlogs link"
So I was thinking about having a direct link next to the booster signup when choosing your roster for the raid, like we got the check-pvp one in discord. This'd make easier log-checking a bit imo.

[2021-09-01 18:10] Wanhedaa commented on #143
Does it really matter? If they are accepted as booster, don't you think, they should have a chance to get into a boost? Else just don't accept everyone

[2021-09-01 18:16] nGabrr commented on #143
It could be helpful for new RL's imo.

[2021-09-02 11:14] Highlifez opened #144 "Remove 'Idle' from Ticket Autoskip"
Please remove 'Idle' from the ticketqueue autoskip. Reason being as follows:

Idle does not mean I'm not available for tickets. When working from home, gaming, watching netflix etc, I have netflix open on my 2nd monitor. I'm available and happy to book tickets. BUT, when you don't bring the discord window to the front every so often, you get put to auto idle. For example when working from home, I

[2021-09-02 12:17] #144 closed, assigned to nobody

[2021-09-02 22:01] Hurstilol commented on #143
Well if they are accepted on their main that doesnt make them a good pick on their alts, we have a lot of boosters that play good on their mains and then they think "why dont i just boost on my garbage alt".
A direct link to their wcl page would be a nice thing to have. Obv its not a thing we desperatly need or anything but it would save some time and if its not too much work for our beautiful dev

[2021-09-04 16:20] iElsha commented on #143
Put minor label as it's not vital but is an enhancement, please comment if you need a higher priority.

[2021-09-04 16:22] nGabrr commented on #143
Since we are talking about small enhancements, we could have some kind of favorite button, so we could mark the boosters we know well and are blasters. They sign up, have a mark next to their names as a sign, and thats it. I dont think i should open a new thread for this.

[2021-09-04 16:28] Tueri commented on #143
New suggestions/issues should be posted separately, they cannot be handled from the comment section of another.

[2021-09-04 16:30] nGabrr opened #145 "Favorite marker for raid boosters"
So I was thinking that we could have some kind of favorite button next to boosters name, so that way you could mark the boosters you know personally, and perform well. With this, if one of them signs up you wont have to look after his logs/performance.

[2021-09-04 16:38] iElsha commented on #146
@Bgabor997 update the capitalized letter on the website for the bot to have the correct data

[2021-09-04 16:53] iElsha commented on #95
Done 🎉

[2021-09-04 16:53] #95 closed

[2021-09-04 16:54] iElsha commented on #147
Moving to website category as it is more relevant here now that tueri's and bot stuff have been done

[2021-09-04 16:56] iElsha commented on #148
Approved to put "Random key" as default, moving to website repo as it's not related to ticket

---

This doesn't mean that we want the customer key, this is a different story. It means that we'll take whatever key is needed but that the adv doesn't want the keystone button on it.

[2021-09-04 17:40] Wanhedaa commented on #148
This is not true. If we advertisers take whatever key is needed (so a random key) we choose random key (that's why we have keystone there), so if someone wants to sacrefice their key, they can click on the keystone icon. If it's no specific key, we use the customer's key and add in the note what key is it.

If we use no specific key for "whatever key is it" then we will sit front of the customer w

[2021-09-04 18:33] iElsha commented on #148
So it would be better to rename the "No Specific Key" option to customer key?

[2021-09-04 18:44] Highlifez commented on #148
I think that would be the best course of action, yeah. Also solves any confusions as to what the difference between the two is.

[2021-09-05 12:59] infinitypros commented on #145
I know there is some nice player each leader always pick on their roster as it reduces the risk of any fail pulls but having a mark on them so it's easier to pick them is a no.

 we wont like to enforce something like that, as we don't want to end up with having each leader having his own team boosting together every time and be unfair to other boosters.

[2021-09-06 01:30] Choppaaz commented on #142
In fact I would also ask for more since its on the same topic, is it possible to also dm the GC for the raids he is assigned on for each day at the start of the day, to explain this, if we are on Monday and at 24:00 st bot will dm all assigned GCs on Tuesday raids informing them about their raids on Tuesday with some info which include raid link and time.

[2021-09-06 10:12] Efthymios-Papakostopoulos commented on #142
They are already getting tons of DMs, adding more will just clutter with the rest.

30 mins before the raid is enough

[2021-09-06 10:27] Choppaaz commented on #142
I'm aware of dms they are getting as advertisers, but I also seeing some not showing up cause they forget, yes the 30 min it great if applied but also at the start of each day a reminder for assigned raids would be perfect.

They would also count on it as a reference

[2021-09-06 10:32] Choppaaz commented on #142
I'm having 2 issues here, some are online but they forgot about their raid and the 30 min would fix that issue, and some don't even remember that they got a raid so they either go out or sleep and this issue can only be fixed by the start of each day dm

Also if its at a specific time then as I said earlier they can count on it and check bot message at that specific time

[2021-09-10 09:33] Highlifez opened #149 "Change #apply-to-icc-eu to #become-a-booster"
I think this would significantly reduce the amount of booking tickets that get opened to ask about how to become a booster and be straight forward, as you can only apply to become a booster (or adv, see below) anyway.

I know that channel also tells you where to apply to become an advertiser, either just leave that in, or make a #become-an-advertiser channel further down where the bookings are.

[2021-09-10 09:36] Highlifez commented on #149
In addition to that, you could put in a link to #✉️open-a-ticket if they have any specific questions on how to become a booster.

A lot of us advs are not boosters/recruiters/managers and won't be able to answer their questions anyway.

[2021-09-10 19:13] momos-icc opened #150 "PvP - Add a Voice + Preferred Language"
There are instances where the customer only speaks broken English and needs a booster that speaks their primary language in order to get the boost completed.

Adding in the _"Voice Requested"_ would be a nice QoL feature too since some boosters prefer not to do voice, so they know what they're getting into before signing for the boost.

![unknown](https://user-images.githubusercontent.com/5431885/

[2021-09-12 19:29] Dejnaa commented on #7
@Bgabor997 any idea how much time it could take for this feature?

Its about this section:

![image](https://user-images.githubusercontent.com/77668716/133000286-44fc28e5-5e03-469a-9d2e-f4f0188ae07f.png)

[2021-09-12 19:32] Dejnaa commented on #11
@Bgabor997 Has this been looked at/solved? From what i see when I compare the other filters, if you remove the X it will be solved - the other filters dont have this X.

![image](https://user-images.githubusercontent.com/77668716/133000341-da589ef6-1a8f-4282-b768-4d9a1dd8e2f2.png)

[2021-09-12 19:33] Dejnaa commented on #43
@Tueri  serverity?

[2021-09-13 21:32] Dejnaa commented on #149
@ICCDesi  should be able to fix? :)

[2021-09-13 21:33] Dejnaa commented on #148
@iElsha could you assign someone to make this change since its a "Fast Update"?

[2021-09-13 23:04] #149 closed, assigned to nobody

[2021-09-14 10:41] infinitypros commented on #142
i don't think DM-ing them will fix the problem as they can easily skip it thinking it is just a normal DM from the bot for other things

but what would I suggest we can create a ping channel on the staff discord where you can ping the GC who is assigned for a run on the next day as a reminder.

at this point, you can get an assistant that can help you with that if you want

[2021-09-14 17:52] DruidEmmaNielsen commented on #142
As someone who runs their own discord server, and part of more than 30 servers where they have stuff going on, I must say that a Ping actually easier gets ignored, than a DM.

but I've some weird OCD's and click refresh a lot anyway when bored so I usually know my Raid Collects.
if we have the tools, and can have options on whether you get a DM or Ping.  I had personally love it to get reminded ov

[2021-09-14 20:22] Wanhedaa commented on #142
Honestly if you accept that you are a GC, then you should be ready for any collecting. Like if you accepted that you are free on this and this day, and you get assigned, just open your calendar if you can't remember. It's the GC-s responsibility to be aware of their work times. It's not hard to remember for that 1-2 raid what the GC-s get each week (and usually they are even at the same time, not

[2021-09-14 21:02] DruidEmmaNielsen commented on #142
well idk who you are refering too but i've yet to miss a GC duty,  I am talking about Ping VS DM's.  and what are you saying you suggest to demote them or?

[2021-09-14 21:06] Wanhedaa commented on #142
I'm not suggesting anything. Neither Ping or DM will solve any problem. There are only 1-2 guys who forgets their collecting. Tbh not hard to remember for a raid :D If you forget easily, get a calendar or a reminder on the phone

[2021-09-16 13:30] #142 closed, assigned to nobody

[2021-09-17 08:02] Dejnaa commented on #146
@FyneIcc This is deployed, you can close the ticket :)

[2021-09-17 08:03] Dejnaa commented on #145
@nGabrr Would you please close this ticket? ^^

[2021-09-17 08:47] #145 closed, assigned to nobody

[2021-09-17 08:47] #146 closed, assigned to Bgabor997

[2021-09-17 11:33] Dejnaa opened #151 "Add Leveling and Torghast to Website :)"
As a future project - why not add leveling and torghast to the website ^^
We only have 3 different types of Torghast and then the levels, think we can use most of the existing M+ stuff to make it work :)

We just could make a new tab under the M+ tab for leveling, Torghast and maybe other smaller boosts services.
Making more of it via the website and also making it easier for both boosters to sign

[2021-09-19 04:51] Wanhedaa opened #152 "Forcing to add discord tag / battlenet of the customer"
From my experience (as i take most of the curves so i know 90% of the advertisers bookings) i would say, forcing to add discord tag is not needed.

Only a few of the advertisers give the real discord tag of the customers ( i assume mostly ticket customers), the others just put their owns or just a space.

I think forcing it is just timewaste for the big hyper advertisers who book 2-3 customers / 2

[2021-09-19 08:51] Phenthex commented on #152
I aggree and disagree on this one.

It is a timewaste for giga advertisers for example when he/she is filling the curve yeah, but i didnt know they can press space and still able to book. So if they are booking with a space button it turns out not a timewaste really simple and easy. Just a space button.

Also some cases we really need customer's discord or battletag. If the advertiser not around a

[2021-09-19 14:32] Wanhedaa commented on #152
Even if we force them to add their discord tag there, they don't do it. I just had a case last night where the advertiser went to sleep, the customer was offline, and the advertiser gave his own discord tag :KekW:

If anyone wants to use it, he will use it properly, just like before, without him being forced to do it

[2021-09-19 15:23] Phenthex commented on #152
Well that also makes sense. Personally im always adding customer's discord instead of mine. But forcing advertisers into this, if this makes them to be cba and type their own discord yeah doesn't make any sense. We will still searching customer everywhere if advertiser is offline. So better to not have this as mandatory for bookings then.

Agree this time you changed my mind 😄 If anyone want to ad

[2021-09-20 08:36] Wanhedaa opened #153 "Notify the representatives if new booking is added / deleted from his run"
The title speaks for it. Would be a great update in the future (and also helpful)

[2021-09-21 15:49] Wanhedaa opened #154 "Adding "random" for the VIP selection"
![image](https://user-images.githubusercontent.com/77633500/134203020-0cec5d0e-5481-4f9c-8b2c-c150f8bf7d06.png)
We got a customer who wants to buy as many paladins as much we can give, but the others can be random plates.
It got booked as 1 paladin 1 warrior 1 dk, but could be doable as "1 paladin 2 random". This random could be at each VIP as a "tick box" like this
![image](https://user-images.gi

[2021-09-24 12:19] Highlifez commented on #148
Can we please get these two changes through? It's especially annyoing trying to explain what No specific key even means to the new trainees. Thank you very much!

1) Change "Random key" to be the default choice
2) Change "No specific key" to "Customer Key"

[2021-09-24 17:25] Wanhedaa opened #155 "Editing the booking deletes the already set up VIP requests"
I booked someone for a raid with 2 vip-s, then edited the note and pressed edit. It deleted the VIP requests.

It also deleted at changing the Discord tag, the price. I just  clicked on edit again, the 0/x request is the default setting which can cause problems in the future
![image](https://user-images.githubusercontent.com/77633500/134716183-617cc515-92e8-40ec-8ae7-d9c672824fda.png)

[2021-09-27 11:00] #10 closed

[2021-09-27 11:00] infinitypros commented on #10
its been mentioned in another open issue already

[2021-09-27 11:07] infinitypros commented on #24
its implemented

[2021-09-27 11:07] #24 closed

[2021-09-27 11:19] Bgabor997 commented on #63
we don't need this one, things changed a lot, and everything working without this

[2021-09-27 11:19] #63 closed

[2021-09-27 11:33] Bgabor997 commented on #120
@DruidEmmaNielsen we sill need this? Bcs we implemented the new VIP system.

[2021-09-27 11:42] Bgabor997 commented on #124
**Process:**
- Advertiser books the inhouse customer(with balance)
- Raid is done
- RM submits the raid
- Balances deducted with the submit process

[2021-09-27 11:44] Bgabor997 commented on #126
have to think about this when we doing https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/2

[2021-09-27 11:46] infinitypros commented on #127
@Tueri can you explain more about this issue so we know what are we looking on

[2021-09-27 11:47] Tueri commented on #127
I have no idea, I assume just to change French default of male/female object wording to gender neutral English terms.

[2021-09-27 11:52] infinitypros commented on #129
hey, we would not work on this issue atm as its really a very minor update

[2021-09-27 11:52] #129 closed, assigned to nobody

[2021-09-27 11:55] Bgabor997 commented on #112
should be done with this: https://github.com/Icecrown-Community/ICC-Member-Website-Public/issues/132

[2021-09-27 11:58] infinitypros commented on #133
locking 1 hour before the riad will be enough, its on the implementing list now

[2021-09-27 11:59] Bgabor997 commented on #134
I'm working on this rn, we have some sketch for it, need some more time, but a whole new system will come for this soon
![image](https://user-images.githubusercontent.com/25648979/134903864-b344dd18-2fd8-4afa-a923-02d45e4514f4.png)
![image](https://user-images.githubusercontent.com/25648979/134903880-696570fc-008a-4a24-9a61-bbbc05299b81.png)

[2021-09-27 12:03] Bgabor997 commented on #135
i can work out something, but its not a 100% solution, based on the user's profile settings

[2021-09-27 12:09] Bgabor997 commented on #137
we have something for this in our mind :) coming soon

[2021-09-27 12:10] Bgabor997 commented on #139
Solution here: in GC view make notes expanded by default

[2021-09-27 12:19] Bgabor997 commented on #152
We will remove the forcing from curve raids

[2021-09-27 12:20] Bgabor997 commented on #153
Have to make a new bot message, only for guild raids, if there is a new booking

[2021-09-27 12:22] Bgabor997 commented on #155
Will have a look, thx

[2021-09-27 12:22] infinitypros commented on #154
its a nice idea but not really very important or urgent, so will not close the issue for now but it won't be implemented any time soon

[2021-09-28 17:13] Tueri commented on #143
Bump on this one, it's becoming increasingly necessary to check chars pre-roster building. Either hyperlink from clicking name (instead of copy-paste) or new button as above.

[2021-09-29 22:27] DJDajn commented on #36
1

[2021-09-29 22:32] Bgabor997 commented on #43
- Add time for booster add/remove embeds ( yyyy-mm-dd h:i) (date functions: server/utils/String)
- Add the user display name to the submitRaid message ( who submited it)

[2021-09-29 22:33] DJDajn commented on #43
1

[2021-09-29 22:41] DJDajn commented on #117
1

[2021-10-01 18:15] Tueri opened #156 ""Coppercode" Scam Prevention"
Add a random number between 1-99 on a booking once made, that appears on the booking card for the Adv/GC and is sent in DM by Gluth if a Discord Tag is defined.

This number is the "Coppercode" - the Adv/GC who then trades the customer has to trade that amount of copper to the customer for the trade to be initiated. If no copper presented, customer should not trade at all.

An advertiser will be a

[2021-10-02 21:49] Wanhedaa opened #157 "Show guild cut on website"
![image](https://user-images.githubusercontent.com/77633500/135732586-6c838dd9-d88f-4a96-bacb-555aae5636b6.png)

With the new feature we can see the booster cut as an inhouse booster. But how about the guilds? It could be easily possible to calculate with "total pot" x "guild cut in %"

Its not a biggie but would be helpfull.
Love you Gabor <3
![image](https://user-images.githubusercontent.com/776

[2021-10-02 22:04] DJDajn commented on #157
![image](https://user-images.githubusercontent.com/4588530/135732894-4cc61a09-30c8-4154-b629-7065d379ac98.png)

[2021-10-03 10:21] Bgabor997 commented on #36
This was deployed at 2021.10.02

[2021-10-03 10:21] #36 closed

[2021-10-03 10:21] Bgabor997 commented on #43
This was deployed at 2021.10.02

[2021-10-03 10:21] #43 closed

[2021-10-03 10:22] Bgabor997 commented on #125
This was deployed at 2021.10.02

[2021-10-03 10:22] #125 closed, assigned to Bgabor997

[2021-10-03 10:22] Bgabor997 commented on #117
This was deployed at 2021.10.02

[2021-10-03 10:22] #117 closed

[2021-10-03 10:24] Bgabor997 commented on #134
This was deployed at 2021.10.02

[2021-10-03 10:24] #134 closed, assigned to nobody

[2021-10-03 14:25] Wanhedaa opened #158 "Booster cut shown in Gluth message"
![image](https://user-images.githubusercontent.com/77633500/135758039-459138f5-babe-4d55-9eaf-c11a5c048748.png)

When the run is submited we get a message about the participants, the total pot, the date and everything but Booster cut. Can we have it? ^^

I pasted the "raidleader cut extra" there aswell in case the RL-s want to see their cut in the submission.

[2021-10-03 16:12] Wanhedaa commented on #155
dunno what but seems like it fixed. Even tho @Bgabor997 can you check it?

[2021-10-05 18:15] Dejnaa commented on #11
@Bgabor997 Could you do what I wrote above? It will remove the error :)

[2021-10-08 16:14] Dejnaa commented on #54
@infinitypros Do we want/need this?

Advertisers are coached in the use of the the website.
GoldCollectors also get coached
Boosters I assume dont have that much to do except sign up/off
Raidleaders also get coached

[2021-10-08 16:18] Dejnaa commented on #7
@Bgabor997 this might be one of the "Fast updated", what do you say?

[2021-10-08 16:22] Wanhedaa commented on #54
New advertisers have their trainers and training sessions / guides
New gold collectors have their GC session
New boosters are accepted only after they read the raid guide and they signed up / off on the "test run" on the web - so they prove they understand how it works
Raidleaders also get coached as you said

And to be honest, the website is speaking for itself. Everything is full logic, everythi

[2021-10-08 16:23] Dejnaa commented on #81
I am not sure if this happens much anymore. I think I got ejected like 1 time the last 2 weeks.

[2021-10-08 16:24] Wanhedaa commented on #81
you are not using the website as often and as long as the curve gold collectors / active advertisers. It is still a thing and it is still annoying.

[2021-10-08 16:25] Dejnaa commented on #81
Thats why I bumped it :) Good to know it still makes problems

[2021-10-08 16:29] Dejnaa commented on #115
@Bgabor997 how difficult would something like this be?
Rebooking a customer is not really timeconsuming or hard, so gotta weigh the wins and losses here if its worth

[2021-10-08 16:32] Dejnaa commented on #128
If wont fix can we just close it?

[2021-10-08 16:33] Dejnaa commented on #130
@Bgabor997 this should be a fast undate, correct? Maybe one of the other devs could look into this?

[2021-10-08 16:34] Dejnaa commented on #132
This would also be helpful when we cancel raids that already has bookings. So the advs can rebook their customers but other advertisers cant book anything new.

[2021-10-08 16:37] Dejnaa commented on #156
I really like this idea. Do we need to wait for any tech solution or should we start having advertiser use this method to get used to it?

[2021-10-08 19:13] DJDajn commented on #153
This was added a few days ago.
Can you close @Bgabor997? ^^

[2021-10-08 19:13] DJDajn commented on #157
This was added a few days ago.
Can you close @Bgabor997? ^^

[2021-10-08 19:14] DJDajn commented on #143
This was added a few days ago.
Can you close @Bgabor997? ^^

[2021-10-08 19:17] #153 closed, assigned to nobody

[2021-10-08 19:18] #157 closed, assigned to nobody

[2021-10-08 19:18] #143 closed, assigned to nobody

[2021-10-10 20:05] DruidEmmaNielsen opened #159 "Suggestion: Click Advertiser names for User Id's"
Okey so for balance payments the easist to do is simply doing  the following command

!ihp "<@runid>" amount RaidID: xxxxxxxxxxxx

this makes it so that management merely has to copy paste, but for us gold collectors, we have to find the name and right click + copy id before we can do this, so I wanted to add another feature to the website.  Now i am aware it is not always the advertisers balance

[2021-10-10 20:39] Wanhedaa commented on #159
i love this idea.

[2021-10-12 20:49] DJDajn commented on #159
This has been implemented.

[2021-10-12 20:49] #159 closed, assigned to DJDajn

[2021-10-12 20:50] DJDajn commented on #139
This has been implemented.

[2021-10-12 20:50] #139 closed, assigned to DJDajn

[2021-10-12 21:02] Bgabor997 commented on #133
this is implemented and deployed today

[2021-10-12 21:02] #133 closed, assigned to DJDajn

[2021-10-12 21:03] Bgabor997 commented on #137
implemented and deployed today

[2021-10-12 21:03] #137 closed, assigned to Bgabor997

[2021-10-14 10:57] Bgabor997 commented on #158
implemented and deployed 2021.10.14

[2021-10-14 10:57] #158 closed, assigned to DJDajn

[2021-10-14 10:57] Bgabor997 commented on #152
implemented and deployed 2021.10.14

[2021-10-14 10:57] #152 closed, assigned to DJDajn

[2021-10-14 10:57] Bgabor997 commented on #148
implemented and deployed 2021.10.14

[2021-10-14 10:57] #148 closed, assigned to DJDajn, Bgabor997

[2021-10-14 10:57] Bgabor997 commented on #132
implemented and deployed 2021.10.14

[2021-10-14 10:57] #132 closed, assigned to DJDajn

[2021-10-15 23:35] Eldrekou opened #160 "Curve shift, Gluth dm to client Not high prio"
When booking a Curve client, Gluth will send the client with there booking info. Within this DM from Gluth the Time stap/shift is incorrect instead it will always show the first run (23:55 server time) instead of the shift. I've only had 1 client get confused about it so really not a priority thing i'd say
![unknown](https://user-images.githubusercontent.com/82052870/137564211-a3412222-ebfa-4169-9

[2021-10-23 16:17] #128 closed, assigned to iElsha